@import "./hireUsComps/TestimoniesAndReviewsSec";
@import "./hireUsComps/PicAndDescriptionSec.scss";
@import "../../comps/carousel.scss";
@import "../HireUs/hireUsComps/modalStyles/HireUsModalStyles.scss";
@import "../HireUs/hireUsComps/readyToInspireSec.scss";
@import "./hireUsComps/tier.scss";

$btnColor: #84469e;
$btnColorDark: #3e0d55;
$mobileTxtColor: #96195f;
$btnColorMobile: #633a9a;
$borderRadiusModal: 1.3em;
$borderColorImgAndCard: #707070;
$hireUsPgMainCardColor: #fff8f8;
$sectionDarkBg: #2e0b1b;
$desktopFontSize: 22px !important;
$carouselTitleFtWeightDesktop: 800 !important; 

.humanDescriptionTxt {
  line-height: 33px;
}



.responsiveInfoTxt {
  font-size: 28px !important;

  @media (max-width: 575px) {
  }
}

.mattsAwardParentSec{
  @media(min-width: 768px){
    > section:nth-child(2){
      width: 75% !important;
    }

  }
}

.ownerInfoSec {
  > section:nth-child(2) {
    > span:last-child {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }
}

.picAndImgSec {
  @media (max-width: 575px) {
    height: fit-content;
  }
}

.promoteLessonsTxtContainer {
  width: 50% !important;

  @media (max-width: 575px) {
    width: 100% !important;
  }
}

.promoteLessonsTxtClass {
  font-size: 28px !important;
}

.move10pxRight {
  transform: translateX(10px);
}

.move10pxRightResponsive {
  @media (min-width: 576px) {
    transform: translateX(10px);
  }
}

.hireUsPgWrapper {
  overflow-x: hidden !important;
}

.hireUsPg {
  color: #ffffff;
  background-size: cover;
  background-position: 70% center;
  height: fit-content !important;
}

.headerSection {
  @media (min-width: 576px) and (max-width: 767px) {
    width: 75% !important;
  }

  @media (max-width: 575px) {
    width: 100% !important;
  }

  @media (min-width: 375px) and (max-width: 575px) {
    padding-left: 40px !important;
  }

  @media (max-width: 374px) {
    padding-left: 15px !important;
    padding-right: 5px !important;
  }
}

.subTxtHeadingDesktop {
  display: block !important;
  max-width: 770px !important;
}

.headingHireUs {
  font-size: 70px !important;
  font-weight: 450 !important;

  @media (min-width: 880px) and (max-width: 991px) {
    font-size: 70px !important;
  }

  @media (min-width: 768px) and (max-width: 879px) {
    font-size: 65px !important;
  }

  @media (min-width: 768px) {
    font-size: 70px !important;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    font-size: calc(31.2px + 4.5vw);
  }

  @media (max-width: 575px) {
    font-size: clamp(40px, 9.3vw, 57px) !important;
  }
}

.subTxtHeadingContainerHireUsPg {
  width: 75% !important;

  @media (max-width: 575px) {
    width: 100% !important;
  }

  @media (min-width: 375px) and (max-width: 575px) {
    padding-left: 40px !important;
    padding-right: 40px !important;

    > span {
      font-size: 22px !important;
    }
  }

  @media (max-width: 374px) {
    padding-left: 18px !important;
    padding-right: 18px !important;

    > span {
      font-size: 17px !important;
    }
  }
}

.letTalksMainBtnSec {
  margin-bottom: 65px !important;
  // padding-right: 6rem !important;
  @media (min-width: 768px) {
    transform: translate(-48px, 40px) !important;
  }

  @media (min-width: 992px) {
    transform: translate(-105px, 40px) !important;
  }
}

.mainBtnLetsTalk {
  // background-color: $btnColor;
  background-color: $btnColorMobile !important;
  border-radius: $borderRadiusModal;
  width: 260px !important;
  height: 85px !important;
  border: solid 1px rgb(255, 255, 255) !important;;

  @media (max-width: 767px) {
    width: 250px !important;
    height: 85px !important;
  }

  @media (max-width: 575px) {
    width: 210px !important;
    height: 65px !important;
  }

  > div:last-of-type {
    position: absolute;
    left: 20px;
    height: 100%;
    span {
      font-size: 22px !important;
      font-weight: 250;
      text-decoration: underline;
      text-decoration-thickness: 1px;

      @media (min-width: 768px) {
        font-size: 27px !important;
      }
    }
  }

  > div:first-of-type {
    position: absolute;
    height: 100%;
    right: 10px;
  }

  svg {
    height: 50px;
    width: 50px;
  }
}

.letsTalkBtnContainer {
  background-color: $btnColor;
  width: 350px !important;
  height: 200px !important;
  border: solid 0.5px #ffffff !important;
  border-radius: $borderRadiusModal;

  > div {
    @media (min-width: 992px) {
      width: 100% !important;
      height: 50% !important;
    }

    @media (max-width: 991px) {
      width: 100% !important;
    }
  }

  div:first-of-type {
    padding-bottom: 10px !important;
  }

  div:last-of-type {
    span {
      font-size: 38px;
      font-weight: 250;

      @media (max-width: 767px) {
        padding: 0px 0px 8px 10px;
        font-weight: 200;
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 240px !important;
    height: 150px !important;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    width: 300px !important;

    div:last-of-type {
      span {
        font-size: 28px;
        font-weight: 250;
      }
    }
  }

  @media (max-width: 767px) {
    height: 95px !important;
    border-radius: 2.8em;
    background-color: $btnColorMobile !important;
  }

  @media (max-width: 575px) {
    height: 70px !important;
    width: 225px !important;

    div:last-of-type {
      span {
        font-size: 22px;
        font-weight: 210;
      }
    }
  }
}

.darker-btn-color {
  background-color: $btnColorDark !important;
}

.classRoom2ContentStyles {
  width: 100% !important;
  height: 400px !important;

  > section {
    bottom: 30px !important;
  }
}

.introSecHireUsPg {
  @media (min-width: 768px) {
    height: 700px !important;
  }

  @media (min-width: 375px) and (max-width: 575px) {
    height: 500px !important;
  }

  @media (max-width: 374px) {
    height: 500px !important;
  }
}

.introSecAndLetTalksSec {
  height: 700px;
  // padding-bottom: 150px;
  padding-bottom: 190px !important;

  // border: solid pink !important;
  > section {
    // max-width: 720px !important;
    @media (min-width: 767px) {
      //  border: solid pink !important;
    }

    > section:last-child {
      @media (max-width: 767px) {
        width: 75% !important;
      }

      @media (max-width: 575px) {
        width: 100% !important;
        // width: 100% !important;
      }
      @media (min-width: 375px) and (max-width: 575px) {
        padding-left: 40px !important;
      }

      @media (max-width: 374px) {
        padding-left: 18px !important;
        padding-right: 18px !important;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    > section:first-child {
      margin-left: 30px;
    }
  }

  @media (max-width: 767px) {
    > section:first-child {
      height: 550px !important;
    }
  }
}

.CardSec {
  @media (min-width: 768px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

.hireUsPgInfoCard {
  // min-width:
  min-width: 265px !important;
  transform: translateY(-100px);
  min-height: 700px;
  border-radius: $borderRadiusModal;
  background-color: $hireUsPgMainCardColor;
  max-width: 1440px !important;

  @media (max-width: 767px) {
    transform: translateY(-40px) !important;
  }
}



.introTxtShareYourKnowledge{
  > span{
    font-size: $desktopFontSize;
    font-weight: 250 !important;

    @media(min-width: 768px){
      color: black !important;
    }
  }
}

.hireUsPgInfoCardBody {
  @media(min-width: 768px){
    padding: 0 !important;
  }

  h3 {
    color: $mobileTxtColor !important;
    font-size: 40px !important;
    font-weight: 800;
  }

  @media (max-width: 767px) and (min-width: 576px) {
    h3 {
      padding-right: 2px !important;
    }
  }

  @media (max-width: 575px) {
    h3 {
      font-size: 42px !important;
      text-align: center !important;
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

  @media (max-width: 767px) {
    padding: 0 !important;
  }
}

.whatWillYouGetTxtUnBolded {
  @media (max-width: 575px) {
    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.shareYourKnowledgeImgContainer {
  height: 400px !important;

  @media(min-width: 768px){
    width: 560px !important;
  }


  @media(max-width: 767px){
    width: 100% !important;
  }

  > span {
    border-radius: $borderRadiusModal !important;
    border: solid 1px #707070 !important;

    @media (max-width: 575px) {
      // height: 350px !important;
      height: 325px !important;
    }
  }
}

.fwtHireUsCard {
  font-weight: 249 !important;
}

.hireUsCardIntroTxt {
  color: #363636 !important;
  width: 75%;
  font-size: 55px;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 575px) {
  }
}


.hireUsCardSectionTxt{
  height: 100px;
  @media(min-width: 768px){
    font-size: $desktopFontSize
  }
}

.whatYouWillGetSec{
  @media(min-width: 768px){
    column-count: 2 !important;

    > section{
      width: 100% !important;
    }
  }
}

.hireUsInfoStyledContainer {
  height: 350px;

  @media(min-width: 768px){
    // width: 500px !important;
  }

  @media (max-width: 767px) {
    border: solid 0.5px #707070;
    border-radius: $borderRadiusModal;
  }
}

.hireUsCardTxt {
  // font-size: 40px !important;

  @media (max-width: 767px) {
    // font-size: 45px !important;
    font-weight: 249;
  }
}

.anyTimeSec{
  > section:first-child{
    @media(min-width: 768px){
      width: 75% !important;  
    }
    
    @media(max-width: 767px){
      width: 100% !important;
    }
  }
}

.arrowDown {
  font-size: 50px !important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.video-styles {
  width: 100% !important;
  height: 300px !important;
  border-radius: $borderRadiusModal;

  @media (max-width: 767px) {
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 348px !important;

    > * > * {
      width: 100% !important;
      border-radius: 0.375rem !important;
    }
  }
}

.looped-vid-hire-us {
  width: 100% !important;
  // height: 300px !important;
  object-fit: fill !important;
  height: 300px !important;
  border-radius: $borderRadiusModal;

  @media (max-width: 767px) {
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 400px !important;

    > * > * {
      width: 100% !important;
      border: 1px solid #dee2e6 !important;
      border-radius: 0.375rem !important;
    }
  }
}

.whatDoWeDoSec {
  border-radius: $borderRadiusModal;
  border: solid 0.8px $sectionDarkBg;
  padding: 25px 45px 25px 45px;
}

.whatWillYouGetSec:nth-child(even){
  margin-top: 18px !important;
}

.HireUsCardFirstSecMobile.weMobileKnowledgeSec:not(:first-child) {
  @media (min-width: 768px) {
    margin-left: 15px !important;
  }
}

.HireUsCardFirstSecMobile {
  @media (min-width: 768px) {
    > section:first-child {
      width: 20% !important;
      > span {
        width: 100px !important;
        height: 100px !important;
      }
    }

    > section:last-child {
      width: 80% !important;
      margin-left: 20px !important;
    }
  }

  > section:last-child {
    span {
      @media (min-width: 768px) {
        font-size: $desktopFontSize;
      }
    }
  }

  @media (min-width: 768px) {
    width: 35% !important;
  }
}

.HireUsCardFirstSecMobile:first-child {
  @media (max-width: 767px) {
    margin-top: 20px !important;
  }
}

.HireUsCardFirstSecMobile:not(:first-child) {
  @media (max-width: 767px) {
    margin-top: 55px !important;
  }
}

.HireUsCardFirstSecMobile {
  > section {
    @media (max-width: 575px) {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  > section:last-child {
    > span {
      text-align: center;
    }
  }
}

.introSubTextHireUs {
  @media (min-width: 768px) and (max-width: 879px) {
    font-size: 35px !important;
  }

  @media (min-width: 880px) and (max-width: 991px) {
    font-size: 38px !important;
  }

  @media (min-width: 992px) {
    font-size: 40px !important;
  }

  @media (max-width: 767px) {
    width: 79% !important;
    font-size: 45px !important;
  }
}

.arrowSec {
  @media (min-width: 768px) {
    padding-top: 100px !important;
    > span {
      transform: rotate(-90deg);
    }
  }
}

.howDoesItWorkSec {
  > section:first-child {
    @media (max-width: 575px) {
      width: 100%;
    }
  }
}


.eachLessonInfoList {
  li {
    font-size: 25px !important;
    max-width: 580px !important;
  }
  li:not(:first-child) {
    margin-top: 13px;
  }
}

.eachLessonMainSec {
  > section {
    h5 {
      font-size: 30px !important;
      font-weight: 380;
    }
  }
}

.ourClientsFundingSourcesHeadingTxt {
  font-size: 30px !important;
}



.imgContainerHireUsDefaultStyles {
  @media (max-width: 575px) {
    height: 100% !important;
    width: 100% !important;
  }
}

.imgContainerHireUsPg {
  width: 80% !important;

  @media (max-width: 575px) {
    margin-top: 15px !important;
    width: 75% !important;
    height: 215px !important;
  }
}

.howMuchDoesItCostSec {
  > section:nth-child(2) {
    span {
      line-height: 35px;
      width: 100%;

      @media(max-width: 575px){
        padding-left: 8px !important;
        padding-right: 8px !important;
      }
    }
  }
}


.imgProductContainer {
  width: 75% !important;

  @media (max-width: 575px) {
    width: 100% !important;
  }
}






.scientistHeadingTxt{
  font-style: italic !important;
  @media(min-width:768px){
    font-size: 38px !important;
  }

  @media(max-width: 767px){
    font-size: 28px !important;
  }
}

.scientistSec{

  @media(min-width: 768px){
    column-count: 2 !important;
    width: 100% !important;
  }

  @media(max-width: 767px){
    width: 75% !important;
  }
}
