@import "../../globalVars.scss";
@import "./hireUsComps/TestimoniesAndReviewsSec";
@import "./hireUsComps/PicAndDescriptionSec.scss";
@import "../../comps/carousel.scss";
@import "../HireUs/hireUsComps/modalStyles/HireUsModalStyles.scss";
@import "../HireUs/hireUsComps/readyToInspireSec.scss";
@import "../HireUs/hireUsComps/whatDoWeDoSec.scss";
@import "./hireUsComps/tier.scss";
@import "./hireUsComps/letsTalkBtnStyles.scss";
@import "./hireUsComps/introSecHireUs.scss";
@import "./hireUsComps/whatOurClientSay.scss";
@import "./hireUsComps/shareYourKnowledgeSec.scss";
@import "./hireUsComps/clientFundingSec.scss";
@import "./hireUsComps/ownerSec.scss";
@import "./hireUsComps/whatYouWillGetSec.scss";
@import "./hireUsComps/scientistSec.scss";
@import "./hireUsComps/howMuchDoesItCostSec.scss";

.subTxtHeadingDesktop {
  @media (min-width: 768px) {
    font-size: $subHeaderDesktop;
  }
}

.humanDescriptionTxt {
  line-height: 33px;
}

.responsiveInfoTxt {
  @media (min-width: 768px) {
    font-size: $spanDesktopFontSize;
  }
}

// .arrowSec {
//   background-color: #fff8f8 !important;
//   background-blend-mode: multiply;

//   div,
//   img {
//     background-color: #fff8f8;
//     background-blend-mode: multiply;
//   }
// }

.arrowHowDoesItWork {
  @media (min-width: 992px) {
    transform: rotate(270deg);
  }
}

.mattsAwardsSec {
  @media (min-width: 768px) and (max-width: 991px) {
    padding-left: 35px;
  }
}

.mattsAward {
  @media (min-width: 768px) and (max-width: 991px) {
    display: flex;
    justify-content: space-between;
    > section:first-child {
      width: 100%;
      height: 100px;
      padding-top: 10px;
      span {
        text-align: flex-start;
        display: inline-block;
        width: 100%;
        max-width: 500px;
        margin-top: 10px;
      }
    }
  }

  @media (min-width: 1200px) {
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    position: relative;

    > section:first-child {
      max-width: 460px;
    }

    > section:last-of-type {
      width: 100px;
    }
  }
}

.picAndImgSec {
  @media (max-width: 576px) {
    height: fit-content;
  }
}

.promoteLessonsTxtContainer {
  width: 50%;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.promoteLessonsTxtClass {
  font-size: 28px;
}

.move10pxRight {
  transform: translateX(10px);
}

.move10pxRightResponsive {
  @media (min-width: 576px) {
    transform: translateX(10px);
  }
}

.hireUsPgWrapper {
  overflow-x: hidden;
}

.hireUsPg {
  color: #ffffff;
  background-size: cover;
  background-position: 70% center;
  height: auto;
  overflow-x: hidden;
}

.normalTxtOnHireUsPg {
  font-size: 22px;
}

.CardSec {
  @media (min-width: 768px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.hireUsPgInfoCard {
  max-width: 1392px;
  min-width: 265px;
  min-height: 700px;
  border-radius: $borderRadiusModal;
  background-color: $hireUsPgMainCardColor;

  @media (min-width: 768px) {
    // transform: translateY(-100px);
    transform: translateY(-50px);
    padding-bottom: 170px;
  }

  @media (min-width: 576px) and (max-width: 768px) {
    transform: translateY(-50px);
  }

  @media (max-width: 576px) {
    transform: translateY(-40px);
  }

  @media (min-width: 768px) and (max-width: 991px) {
    min-width: 755px;
  }
}

.hireUsPgInfoCardBody {
  @media (min-width: 768px) {
    padding: 0;
  }

  @media (max-width: 768px) and (min-width: 576px) {
    h3 {
      padding-right: 2px;
    }
  }

  @media (max-width: 576px) {
    h3 {
      // font-size: 42px ;
      text-align: center;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.whatWillYouGetTxtUnBolded {
  @media (max-width: 576px) {
    &::first-letter {
      text-transform: capitalize;
    }

    max-width: 430px;
  }
}

.shareYourKnowledgeImgContainer.classRoom {
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 40vw;
    min-width: 500px;
    height: 305px;
  }
}

.shareYourKnowledgeImgContainer.classRoom {
  @media (min-width: 768px) {
    width: 560px;
  }
}

.shareYourKnowledgeImgContainer {
  @media (min-width: 768px) {
    > img {
      border-radius: 3.3rem;
    }
  }

  > img {
    border-radius: 0.3rem;
  }

  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      position: relative;
      width: 200px;
      height: 200px;
    }
  }
}

.shareYourKnowledgeImgSec {
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.GPConstellation {
  @media (max-width: 768px) {
    height: 370px;
  }
}

.shareYourKnowledgeImgContainer {
  height: 400px;

  @media (min-width: 1200px) {
    height: 280px;
  }

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      position: static;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    height: fit-content;
  }

  @media (max-width: 576px) {
    height: 280px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 75%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  > span {
    border-radius: $borderRadiusModal;
    border: solid 1px #707070;

    @media (max-width: 576px) {
      height: 250px;
    }
  }
}

.hireUsCardIntroTxt {
  color: #363636;
  width: 75%;

  @media (min-width: 768px) {
    font-size: $spanFontSize;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 576px) {
  }
}

.hireUsCardSectionTxt {
  height: 100px;
  line-height: 23px;

  @media (min-width: 768px) {
    font-size: $spanDesktopFontSize;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    line-height: 20px;
  }

  @media (min-width: 992px) {
    line-height: 20px;
  }
}

.whatYouWillGetSec {
  @media (min-width: 768px) {
    margin-top: 20px;
    column-count: 2;

    > section {
      width: 100%;
    }
  }
}

.hireUsInfoStyledContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) and (max-width: 1199px) {
    height: 250px;

    > * {
      transform: translateY(-22px);
    }
  }

  @media (min-width: 992px) {
    margin-top: 40px;
    transform: translateY(20px);
  }

  // @media(min-width: 992px) and (max-width: 1199px){
  // }

  @media (min-width: 1200px) {
    > * {
      transform: translateY(-15px);
    }
  }

  @media (max-width: 768px) {
    border: solid 0.5px #707070;
    border-radius: $borderRadiusModal;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 10px;
  }
}

.howDoesItWorkSec {
  > section:last-child {
    @media (min-width: 992px) {
      margin-top: 20px;
    }
  }
}

.anyTimeSec {
  > section:first-child {
    @media (min-width: 768px) {
      width: 100%;
      max-width: 800px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  > section:last-child {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) and (max-width: 991px) {
      > div {
        margin-top: auto;
      }
    }
  }

  span {
    @media (min-width: 768px) {
      font-size: $spanDesktopFontSize;
      line-height: $lineHeight;
    }
  }
}

.arrowDown {
  font-size: 50px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.video-styles {
  width: 100%;
  border-radius: $borderRadiusModal;

  @media (max-width: 768px) {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 348px;

    > * > * {
      width: 100%;
      border-radius: 0.375rem;
    }
  }
}

.looped-vid-hire-us {
  width: 100%;
  object-fit: fill;
  border-radius: $borderRadiusModal;

  @media (max-width: 768px) {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    > * > * {
      width: 100%;
      border: 1px solid #dee2e6;
      border-radius: 0.375rem;
    }
  }
}

.video-styles,
.looped-vid-hire-us {
  height: 225px;

  @media (max-width: 576px) {
    height: 225px;
    width: 225px;
    object-fit: contain;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 410px;
  }
}

.hireUsCardFirstSecTxt {
  @media (min-width: 768px) and (max-width: 991px) {
    line-height: 27px;
  }

  @media (min-width: 992px) {
    line-height: 25px;
  }
}

.HireUsCardFirstSecMobile {
  @media (min-width: 768px) {
    > section:first-child {
      > span {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media (max-width: 768px) {
    @media (min-width: 576px) {
      max-width: 480px;
    }

    > section:first-child {
      > span {
        width: 80px;
        height: 80px;
      }
    }
  }

  > section:last-child {
    span {
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: $spanDesktopFontSize;
      }
    }
  }
}

.HireUsCardFirstSecMobile:first-child {
  @media (max-width: 768px) and (min-width: 576px) {
    margin-top: 20px;
  }
}

.HireUsCardFirstSecMobile:not(:first-child) {
  @media (max-width: 768px) and (min-width: 576px) {
    margin-top: 55px;
  }

  @media (max-width: 576px) {
    margin-top: 25px;
  }
}

.HireUsCardFirstSecMobile {
  > section {
    @media (max-width: 576px) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  > section:last-child {
    > span {
      text-align: center;

      @media (min-width: 1200px) {
      }
    }
  }
}

.whatWillYouGetSec {
  > section:last-child {
    @media (min-width: 1200px) {
      width: 425px;
    }
  }
}

.introSubTextHireUs {
  @media (min-width: 768px) and (max-width: 879px) {
    font-size: 35px;
  }

  @media (min-width: 880px) and (max-width: 991px) {
    font-size: 38px;
  }

  @media (min-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    width: 79%;
    font-size: 45px;
  }
}

.howDoesItWorkSec {
  @media (max-width: 768px) {
    > section:last-child > section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 576px) {
    > section:last-child {
      justify-content: center;
      align-items: center;
    }
  }
}

.infoCardHireUs {
  border: solid 1px #d0b4bf;
  border-radius: 1.3rem;

  @media (min-width: 768px) {
    padding: 25px;
  }

  @media (max-width: 768px) {
    max-width: 577px;

    @media (min-width: 576px) {
      padding: 25px 45px 25px 45px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 37vw;
  }

  @media (min-width: 1200px) {
    width: 40vw;
    min-width: 425px;
    max-width: 550px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    min-width: 347px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 75vw;
    min-width: 637.5px;
    height: 400px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 25px 25px 50px 25px;
  }

  @media (max-width: 576px) {
    max-width: 450px;
    min-width: 247px;
    padding: 20px 0px 20px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .howDoesItWorkSec {
    > section:last-child {
      > section:nth-last-child(3) {
        margin: 30px 0px 0px 0px;
      }
    }
  }
}

// .arrowSec {
//   // background-color: #fff8f8;
//   z-index: -1;
//   @media (min-width: 992px) {
//     > img {
//       transform: rotate(-90deg);
//     }
//   }
//   @media (min-width: 1200px) {
//     padding-left: 35px;
//     padding-right: 35px;

//     img {
//       // background-color: #fff8f8;
//       mix-blend-mode: multiply;
//       background-blend-mode: normalx;
//     }
//   }

//   img {
//     max-width: none;
//     width: 55px;
//     height: 55px;

//     @media (min-width: 768px) {
//       width: 60px;
//       height: 60px;
//     }

//     @media (min-width: 1200px) {
//       width: 70px;
//       height: 70px;
//     }
//   }
// }

.howDoesItWorkSec {
  > section:first-child {
    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.ourClientsFundingSourcesHeadingTxt {
  font-size: 30px;
}

.imgContainerHireUsDefaultStyles {
  @media (max-width: 576px) {
    height: 100%;
    width: 100%;
  }
}

.imgContainerHireUsPg {
  width: 80%;

  @media (max-width: 576px) {
    margin-top: 15px;
    width: 75%;
    height: 215px;
  }
}

.howMuchDoesItCostSec {
  @media (min-width: 768px) {
    padding-top: 20px;
  }

  > section:nth-child(2) {
    span {
      line-height: 20px;
      width: 100%;
    }
  }
  > section:nth-child(2) {
    span {
      width: 100%;
    }
  }
  > section:nth-child(2) {
    > span {
      @media (max-width: 576px) {
        line-height: 20px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

@media (max-width: 576px) {
  .shareYourKnowledgeImgContainer > img {
    max-width: 580px;
    width: auto;
    height: 170px;

    @media (max-width: 400px) {
      width: 240px;
    }
  }
}

.introMainBtnInnerSec {
  > * {
    height: 80px;
  }

  span {
    font-size: 2.5rem;
  }
}

.txtOnHireUsPg {
  font-size: $spanFontSize;
}

.eachLessonMainSec {
  h3 {
    color: black;
    font-weight: 380;
  }
}

.btnContainerWhenShouldIReach {
  > div {
    > div:last-of-type {
      span {
        font-size: $bntFontSize;
      }
    }
  }
}


.looped-video-sec {
  @media (max-width: 576px) {
    > div:last-of-type {
      > section:last-of-type {
        padding-top: 20px;
      }
    }
  }
}

.youtube-vid-sec {
  @media (max-width: 576px) {
    > div:last-of-type {
      > section:last-of-type {
        padding-top: 20px;
      }
    }
  }
}

.whatYouWillGetMainSec {
  > section:last-of-type {
    @media (max-width: 576px) {
      margin-top: 10px;
    }
  }
}
