.jobVizSearchResultsSecUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //   flex-direction: column;
  list-style: circle outside;
  //   max-height: 500px;
  // width: 100px;

  @media (max-width: 767px) {
    justify-content: space-evenly;
  }
}

.searchResultJob {
  margin-bottom: 0px !important;
  margin-top: 2px;
  position: relative;
//   max-height: 100px;

  @media (min-width: 576px) {
    padding-right: 40px;
  }

  span {
    text-align: left;
  }

  width: 100%;

  button {
    line-height: 20px;
  }

  button:hover {
    text-decoration: underline;
  }
}

.jobVizSearchResultsSec {
  @media (min-width: 1200px) {
    min-width: 700px;
  }
}

.searchResultHighlight {
  color: $searchResultsHighlight;
  padding: 0;
}

.searchResultTitle {
  line-height: 1.15px;
}

.searchResultsFiller {
  width: 80px;
}

.jobSearchResultsCard{
    width: 50%;
    max-width: 1100px;
    min-height: 200px;
  
    @media(max-width: 767px){
      width: 80%;
      min-width: 240px;
    }
  }
