.jobVizSearchResultsSecUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: circle outside;

  @media (max-width: 767px) {
    justify-content: space-evenly;
  }
}

.jobVizSearchResultsTitle{
  @media(max-width: 575px){
    font-size: 1.2rem;
  }
}

.closeSearchResultsJobVizBtn{
  @media(max-width: 575px){
    right: 5px;
  }
}

.searchResultJob {
  margin-bottom: 0px !important;
  margin-top: 2px;
  position: relative;
//   max-height: 100px;

  @media (min-width: 576px) {
    padding-right: 40px;
  }

  span {
    text-align: left;
  }

  width: 100%;

  button {
    line-height: 20px;
  }

  button:hover {
    text-decoration: underline;
  }
}

.jobVizSearchResultsSec {
  @media (min-width: 1200px) {
    min-width: 700px;
  }
}

.searchResultHighlight {
  color: $searchResultsHighlight;
  padding: 0;
}

.searchResultTitle {
  line-height: 1.15px;
}

.searchResultsFiller {
  width: 80px;
}

.jobSearchResultsCard{
    width: 50%;
    max-width: 1100px;
    min-height: 200px;
  
    @media(max-width: 767px){
      width: 80%;
      min-width: 240px;
    }


    max-width: 1050px; 

    @media(min-width: 576px){
      min-width: 540px;
    }
  
    @media(min-width: 768px){
      min-width: 600px;
    }

    @media(min-width: 1200px){
      min-width: 700px;
    }
  
    @media(max-width: 576px){
      
    }
  }
