$selectedJobTxtColor: #212121;
$jobInfoStatCard: #eff8fe;

.selectedJobModal {
  * {
    color: $selectedJobTxtColor;
  }

  h5 {
    font-weight: 300;
    line-height: 30px;
    font-size: 1.0625rem;
    line-height: 1.2rem;
  }

  overflow-y: auto;
  max-height: 695px;

  @media (max-width: 767px) {
    .modal-body {
      padding: 0.75rem !important;
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    // min-width: 550px;
    width: 95%;
  }
}

.selectedJobHeader {
  position: relative;
  // min-height: 95px;

  button {
    top: 10px;
    right: 15px;
    position: absolute;
    font-size: 16px;
  }
}

.dialogJobVizModal {
  // overriding the default react-bootstrap modal max-width
  max-width: 625px !important;

  @media (min-width: 576px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.jobInfoStatCard {
  background-color: $jobInfoStatCard;
  // height: 186px;
  height: 175px;
  width: 195px;

  // Mobile responsive styles
  @media (max-width: 767px) {
    height: 140px;
    width: 100%;

    h5 {
      font-size: 16px !important;
    }

    span {
      font-size: 14px !important;
    }

    svg {
      font-size: 32px !important;
    }

    > div {
      > section {
        height: 140px !important;
        > section:last-child {
          bottom: 10px !important;
          max-height: 40px !important;
        }
      }
    }
  }

  h5 {
    line-height: 1em;
    font-size: 17px;
  }

  span {
    font-weight: 300;
    line-height: 20px;
  }

  svg {
    font-size: 41px;
  }

  > div {
    > section {
      height: 160px;
      > section:last-child {
        bottom: 15px;
        max-height: 50px;
      }
    }
  }
}

.copyable-job-bureau-stats-btn-container{

}

.jobInfoStatSec {
  //   column-count: 3;
  //   column-gap: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    padding-top: 0.5rem !important;
  }
}
