@import './sections/jobCategories.scss';
@import './modals/selectedJobStyles.scss';

$heroColor: #f0f4ff;
$jobVizCategoryChainTxt: #6812d1;
$jobVizCategoryChainTxtHovered: #2e085c;;

.jobViz-chain-txt{
  color: $jobVizCategoryChainTxtHovered;
}

.jobViz-chain-txt:hover{
  color: $jobVizCategoryChainTxt;
}

.jobVizHero {
  background-color: $heroColor;
}

.jobVizChain{
  width: 500px;
}

.iconSec{
  height: 100px;
}

.jobVizImgContainerOnPg {
  width: 350px;
  height: 350px;
  color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jobVizImg{
  background-blend-mode: normal;
}

.jobVizIcon{
  width: 100%;
  height: 100%;
}

.jobVizChainIconContainer{
  width: 40px;
  height: 40px; 
}

.jobVizIconContainer{
  width: 130px; 
  height: 130px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 6%;
}

.bracketSec{
  padding-top: 10px;
}

.bracketImgContainer{
  height: 100px;
  width: 85%;
}


.jobVizHeroMainSec {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.jobVizHero {
  > div > div {
    width: 90%;
    position: relative;
  }
}

.jobVizCard-buttonSec{
  min-height: 120px;
}

.jobVizCard{
  width: 20rem;

  h4{
    font-weight: 249;
  }
}

.jobVizContent input{
  outline: none;
}

#jobVizBtnSearch{
  > span:last-child{
    font-size: 12px;  
  }
}

.inputSec{
  svg{
    font-size: 25px;
  }
  input{
    border: solid 2px #6c757d;
  }
}

.jobVizHeroMainSec {
  > section {
    p {
      max-width: 600px;
    }
  }
}


