# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env.local

.env

dummyReq.js
creds.json
creds2.json

getLessons.js
credentials.json
credentials2.json
googleDriveSecret.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.idea
.vscode
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

cypress

cypress.config.js
