@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../variables';

// body {
//   background: $white;
// }

.LessonPlan {
  p,
  ul,
  li {
    font-weight: 400;
  }

  li::marker,
  ul::marker {
    color: $gp-burst-purple;
    font-family: "Roboto", sans-serif;
  }

  #ShareTools {
    label {
      color: $galactic-black;
      margin-right: 1rem;
    }
    img {
      width: 1.75rem;
      height: auto;
      margin-bottom: 0;
      margin-right: .5rem;
    }
    
    margin: 1rem 0;
    @include media-breakpoint-up(md) {
    // @media (min-width: map-get($grid-breakpoints, "md")) {
      margin: 0;
      position: fixed;
      z-index: 999;
      left: 0;
      top: 30vh;
      border-radius: 0 1rem 1rem 0;
      background: $white;
      padding: .5rem;
      box-shadow: 0px 4px 6px 0px rgba($black, .4), 0 7px 5px -5px rgba($black, .2);
      display: flex;
      flex-direction: column;
      label {
        display: none;
      }
      a:not(:last-child) img {
        margin-bottom: .5rem;
      }
      img {
        margin-right: 0;
      }
    }
  }

  > .Header,
  > .SectionHeading,
  > .SteamBadge,
  > .Standards,
  .CollapsibleSection > div {
    @include media-breakpoint-only(lg) {
    // @media (min-width: map-get($grid-breakpoints, "lg")) and (max-width: map-get($grid-breakpoints, "lg")+60) {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
    @include media-breakpoint-only(md) {
    // @media (min-width: map-get($grid-breakpoints, "md")) and (max-width: map-get($grid-breakpoints, "md")+60) {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }

  .Header {
    padding-top: 6rem;
    background: linear-gradient(
      180deg,
      $sparkle-white 0%,
      $white 100%
    ) !important;

    @include media-breakpoint-down(md) {
    // @media (max-width: map-get($grid-breakpoints, "md")) {
      padding-right: 2rem;
      .container {
        padding: 0;
      }
    }

    p:first-of-type {
      margin-bottom: 1rem;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.1;
    }

    h4 {
      margin-top: 0.5rem;
      font-weight: 500;
    }

    .Image {
      margin: 0 auto 0;
    }

    .sponsor {
      align-items: center;
      margin: 0 0 2rem;

      > * {
        padding: 0;
      }
      .sponsorDescr {
        h5 {
          margin-bottom: 0;
        }

        .RichText p {
          margin-top: 1rem;
        }
      }

      .sponsorLogo > * {
        justify-content: center;
        margin: 0 auto;
      }

      .Image {
        margin: 0;
      }
    }
  }

  .iframeContainer {
    overflow: hidden;
    position: relative;
    width: 100%;

    iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 800px;
    }
  }

  .iframeContainer::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  .SectionHeading {
    padding: 0.5rem 0;
    margin: 2rem 0;
    background: $sparkle-white;
    color: $charcoal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: $galactic-black;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 0 1.4rem;
    color: $galactic-black;
  }

  a {
    color: $atomic-blue;

    &:hover {
      color: $atomic-blue-hl;
    }
  }

  .ExpansionPanel {
    box-shadow: none;
    margin: 1rem 0;

    &.Mui-expanded {
      margin: 1rem 0;
    }
    .Mui-focused {
      background: transparent;
    }

    > .ExpansionPanelSummary {
      border-top: 2px solid $charcoal;
      border-bottom: 2px solid $charcoal;
      border-radius: 0 !important;
      padding: 0;
      margin: 0;
      min-height: 0 !important;

      &::after {
        background-color: transparent;
      }

      > .MuiExpansionPanelSummary-content {
        margin: 0 !important;

        h3 {
          margin: 0.5rem 0 0.25rem 0;
        }
      }

      > .MuiExpansionPanelSummary-expandIcon {
        padding: 0.15rem;
        color: $charcoal;
        margin-right: 0;

        .MuiSvgIcon-root {
          font-size: 2.25rem;
        }
      }
    }

    > .MuiCollapse-container {
      .ExpansionPanelDetails {
        padding: 1.5rem 0.35rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
  // @media only screen and (max-width: 600px) {
    /* sm phones */
    .LessonPlan {
      margin: 40px;
    }
    h2 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.2em;
    }
    .Header h2 {
      font-size: 1.9rem;
    }
    .Header p:first-of-type {
      margin-top: 0;
    }
    .sponsor {
      justify-content: center;
    }
  }
}
