.sign-up-btn {
  // @media (min-width: 992px) {
  // }
  min-width: 250px;
}

.sign-up-header-container {
  @media (min-width: 1200px) {
    height: 70px;
  }
}

.create-account-toggle-btn-container {
  @media (min-width: 577px) {
    min-width: 350px;
  }
}

.create-account-ui-modal {
  @media (min-width: 577px) {
    width: 100vw;
    border-radius: 0%;
  }

  @media (min-width: 767px) {
    min-width: 500px;
    width: 65vw;
    border-radius: 6.75px;
  }

  @media (min-width: 577px) and (max-width: 991px) {
    width: 100vw;
    border-radius: 0%;
  }

  @media (max-width: 576px) {
    width: 100vw;
    border-radius: 0%;
  }
}
