.ourVisionImgContainer{
    width: 60vw;
    height: 300px;
    @media(max-width: 767px){
        width: 100vw;
    }

    @media(max-width: 575px){
        height: 150px;
    }
}

.linkHover:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 20;
    transition-duration: .3s;
}
