.engineeringImgHomePg {
    height: 425px;

    @media(max-width: 575px) {
        height: 200px;
    }
}

.newReleaseImg {
    height: 400px;

    @media(min-width: 992px) and (max-width: 1199px) {
        height: 375px;
    }

    @media(min-width: 768px) and (max-width: 991px) {
        height: 250px;
    }

    @media(max-width: 767px) {
        height: 170px;
    }
}

.paperItemSec {
    width: 50%;

    @media(max-width: 768px) {
        width: 100%;
    }
}

.gp-equation-img-container {
    width: 75%;
    height: 200px;

    @media(max-width: 577px) {
        width: 100%;
        height: 150px;
    }
}

.gp-equation-img {
    @media(max-width: 577px) {
        transform: scale(103%)
    }
}


.autoCarouselSec {
    height: fit-content;

    @media(max-width: 767px) {
        height: 450px;
        padding-top: .5rem;
    }

    @media(max-width: 577px) {
        height: 550px;
    }
}

.paperItemImgContainer {
    width: 350px;
    height: 350px;

    @media(max-width: 992px) {
        width: 250px;
        height: 250px;
    }

    @media(max-width: 768px) {
        width: 225px;
        height: 225px;
    }

    @media(max-width: 576px) {
        img {
            min-width: 225px;
            height: 225px;
        }
    }
}

.paper-title {
    min-width: 268px;

    @media(max-width: 576px) {
        padding: 0rem 2.5rem 0rem 2.5rem;
    }
}

.carouselArrowBtn {
    @media(max-width: 768px) and (min-width: 577px) {
        svg {
            width: 50px;
            height: 50px;
        }
    }

    ;

    @media(max-width: 576px) {
        svg {
            width: clamp(33px, 10vw, 50px);
            height: clamp(33px, 10vw, 50px);
        }
    }
}

.papersCarouselContainer {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    position: relative;
    height: 100%;

    @media (min-width: 768px) {
        max-width: 1000px;
    }
}

.see-this-lesson-btn{
    @media(max-width: 577px){
        // font-size: clamp();
        font-size: clamp(14px, 4vw, 22px);;
    }
}

.new-release-badge{
    z-index: 15;
    top: -10px;
    left: -20px;

    @media (max-width: 768px) {
        left:15px;
    }
}

.papersCarouselItem {
    position: relative;
    border: 1px solid lightgray;
    height: 35vh;
    width: 100%;
    object-fit: contain;
    max-height: 470px;
    padding: 0px 5rem 0px 5rem;

    a {
        @media(max-width: 992px) {
            height: 45px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        @media(max-width: 576px) {
            width: 83%;
        }
    }

    ;

    @media(min-width: 992px) {
        height: 60vh;
    }

    @media(max-width: 576px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nsfImgContainer {
    height: 175px;
    width: 175px;

    @media(min-width: 992px) and (max-width: 1199px) {
        height: 140px;
        width: 140px;
    }

    @media(min-width: 768px) and (max-width: 991px) {
        height: 105px;
        width: 105px;
    }

    @media(min-width: 576px) and (max-width: 767px) {
        height: 90px;
        width: 90px;
    }

    @media(max-width: 575px) {
        height: 90px;
        width: 90px;
    }
}

.scientificAmericanImgContainer {
    height: 450px;

    @media(min-width: 768px) and (max-width: 991px) {
        height: 480px;
    }

    @media(max-width: 575px) {
        height: 240px;
    }
}