.engineeringImgHomePg{
    height: 425px;

    @media(max-width: 575px){
        // height: 50vh;
        height: 200px;
    }
}

.newReleaseImg{
    height: 630px;

    @media(max-width: 575px){
        height: 170px;
    }
}

