.headerSection {
  @media (min-width: 576px) and (max-width: 767px) {
    width: 75%;
  }

  @media (max-width: 575px) {
    width: 100%;

    h1{
      line-height: 40px;
    }
  }
}

.subTxtHeadingDesktop {
  display: block;
  max-width: 770px;

}

.subTxtHeadingContainerHireUsPg {
  width: 75%;

  @media (max-width: 575px) {
    width: 100%;
    transform: translateY(20px);
    line-height: 20px;
  }
}

.letTalksMainBtnSec{
  > button{
    @media(max-width: 575px){
      height: 60px;
    }
  }
}

.introSecAndLetTalksSec {
  max-width: 1464px;

  @media (max-width: 767px) {
    height: 450px;
  }

  @media (max-width: 575px) {
    height: 450px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // padding-bottom: 75px;
    padding: 0px 0px 75px 35px;
    transform: translateY(25px);
  }

  @media (min-width: 768px) {
    height: 500px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 40px;
  }

  > section {
    @media (max-width: 767px) and (min-width: 576px) {
      padding-left: 40px;
    }
    > section:last-child {
      @media (max-width: 767px) {
        width: 75%;
      }

      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }

  > section:first-child {
    @media (min-width: 768px) {
      height: 310px;
    }
  }

  > section:last-child {
    @media (min-width: 768px) {
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    > section:first-child {
      margin-left: 30px;
    }
  }
}

.headingHireUs {
  @media (max-width: 767px) {
    font-size: 34px;

    @media (max-width: 575px) {
      padding-right: 15px;
    }
  }
}

#parallax-image-hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  // transform: translateY(-50%);
}

