.headerSection {
    @media (min-width: 576px) and (max-width: 767px) {
      width: 75% !important;
    }
  
    @media (max-width: 575px) {
      width: 100% !important;
    }
  
    @media (min-width: 375px) and (max-width: 575px) {
      padding-left: 40px !important;
    }
  
    @media (max-width: 374px) {
      padding-left: 15px !important;
      padding-right: 5px !important;
    }
  }
  
  .introSecAndLetTalksSec{
    h1{
      @media(min-width: 768px) and (max-width: 1199px){
        padding-right: 20px !important;
      }
    }
  }
  
  .subTxtHeadingDesktop {
    display: block !important;
    max-width: 770px !important;
  
    @media(min-width: 768px) and (max-width: 1199px){
      width: 55% !important;
    }
  }
  
  .headingHireUs {
    font-size: 70px !important;
    font-weight: 450 !important;
  
    @media (min-width: 880px) and (max-width: 991px) {
      font-size: 70px !important;
    }
  
    @media (min-width: 768px) and (max-width: 879px) {
      font-size: 65px !important;
    }
  
    @media (min-width: 768px) {
      font-size: 70px !important;
    }
  
    @media (min-width: 576px) and (max-width: 767px) {
      font-size: calc(31.2px + 4.5vw);
    }
  
    @media (max-width: 575px) {
      font-size: clamp(40px, 9.3vw, 57px) !important;
    }
  }
  
  .subTxtHeadingContainerHireUsPg {
    width: 75% !important;
  
    @media (max-width: 575px) {
      width: 100% !important;
    }
  
    @media (min-width: 375px) and (max-width: 575px) {
      padding-left: 40px !important;
      padding-right: 40px !important;
  
      > span {
        font-size: 22px !important;
      }
    }
  
    @media (max-width: 374px) {
      padding-left: 18px !important;
      padding-right: 18px !important;
  
      > span {
        font-size: 17px !important;
      }
    }
  }
  
  
  .introSecAndLetTalksSec {
    height: 700px;
    padding-bottom: 190px !important;
    max-width: 1464px !important;
  
    @media(min-width: 768px) and (max-width: 991px){
      padding-bottom: 150px !important;
    }
  
    > section {
      > section:last-child {
        @media (max-width: 767px) {
          width: 75% !important;
        }
  
        @media (max-width: 575px) {
          width: 100% !important;
        }
        @media (min-width: 375px) and (max-width: 575px) {
          padding-left: 40px !important;
        }
  
        @media (max-width: 374px) {
          padding-left: 18px !important;
          padding-right: 18px !important;
        }
      }
    }

    > section:first-child{
      @media(min-width: 768px){
        height: 510px !important; 

      }
    }

    > section:last-child{
      @media(min-width: 768px){
      }
    }


  
    @media (min-width: 768px) and (max-width: 991px) {
      > section:first-child {
        margin-left: 30px;
      }
    }
  
    @media (max-width: 767px) {
      > section:first-child {
        height: 550px !important;
      }
    }
  }