$scientistFontSize: 1.3rem;

.ownerSection {
  @media (min-width: 992px) and (max-width: 1299px) {
    display: flex;
    flex-direction: column-reverse;
    > section:first-child {
      margin-top: 25px;
    }

    > section:last-child {
      width: 100%;
    }
  }

  > section:first-child {
    @media (max-width: 575px) {
      margin-top: 17px;
    }

    > span {
      @media (min-width: 768px) {
        line-height: 28px;
      }
    }
  }

}

.picAndDescriptionSec {
  display: flex;
  flex-direction: row-reverse;

  a, a *{
    text-decoration: none;
    
  }

  @media (min-width: 576px) {
    margin-top: 0px;
  }

  > section {
    > div {
      @media (max-width: 768px) {
        width: 150px;
        height: 150px;
      }
    }
  }

  > section:last-child {
    @media (min-width: 576px) {
      height: 200px;
    }
  }

  @media (min-width: 576px) {
    > section:first-child {
      margin-left: 25px;

      @media (max-width: 768px) {
      }
    }
  }

  @media (min-width: 1200px) {
    > section:first-child {
      // margin-left: 0px;

      @media (max-width: 768px) {
      }
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;
    > section:first-child {
      > span {
        text-align: center;
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        font-size: $spanFontSize;
      }
    }
  }
}

.mattsAward > section:last-child {
  @media (min-width: 576px) {
    padding-top: 10px;
  }
}

.shareYourKnowledgeDesktopSec {
  > section:first-child {
    @media (min-width: 768px) and (max-width: 1199px) {
      height: 300px;
    }
  }
}

.GPConstellationSec.onDesktop {
  @media (min-width: 768px) {
    > section:last-child {
      div {
        width: 40vw;
        max-width: 576px;

        @media (max-width: 1199px) {
          width: 40vw;
        }
      }
    }
  }

  @media (min-width: 768px) {
    > section:first-child {
      display: none;
    }
    > section:last-child {
      > div {
        height: 300px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    > section:last-child {
      height: auto;
    }
  }
}

.shareYourKnowledgeImgContainer > span,
.GPConstellationSec.onDesktop span {
  @media (min-width: 1200px) {
    width: 30vw;
    min-width: 475px;
    border-radius: 0.8rem;
  }
}

.lessonInfoSec {
  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}

.ownerSection {
  > section {
    > div {
      @media (max-width: 768px) {
        width: 165px;
        height: 180px;
      }
    }
  }

  @media (min-width: 576px) {
    > section:first-child {
      margin-left: 20px;

      @media (max-width: 768px) {
        padding-left: 10px;
      }

      @media (min-width: 1200px) {
        padding-top: 15px;
      }
    }
  }

  @media (min-width: 768px) {
    padding-bottom: 75px;

    @media (max-width: 991px) {
      padding-bottom: 20px;
    }
  }

  > section:first-child {
    > span {
      line-height: 25px;
    }
  }

  @media (min-width: 768px) and (max-width: 1299px) {
    > section:first-child {
      // margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 992px) {
        margin-top: 20px;
      }
      > span {
        @media (max-width: 991px) {
          margin-left: 20px;
        }
        @media (min-width: 992px) {
          text-align: center;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
          padding: 0px 15px 0px 15px;
        }
      }
    }
  }

  @media (max-width: 575px) {
    padding-bottom: 25px;
    > section:first-child {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  > section:last-child {
    display: flex;
    justify-content: center;
    align-items: center;

    > div{
      height: 200px;
      width: 200px;
    }
  }
}

.ownerSection {
  @media (min-width: 992px) and (max-width: 1299px) {
    flex-direction: column-reverse;
  }

  @media (min-width: 1300px) {
    > section:first-child {
      padding-top: 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    > section:first-child {
      margin-left: 20px;
    }
  }

  > section {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  > section {
    @media (min-width: 1200px) {
      // width: 50%;
    }

    img {
      width: 100%;
      // height: 170px;
      min-width: 200px;
      height: 200px;

      @media (min-width: 768px) {
        max-width: 210px;
      }
    }
  }
}

.imgSquareContainer {
  @media (min-width: 768px) {
    width: 70px;
    height: 70px;
  }

  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
  }
}

.picAndDescriptionSecInList:not(:first-child) {
  @media (max-width: 991px) {
    // margin-top: 90px;
  }

  @media (max-width: 575px) {
    margin-top: 60px;
  }
}

.mattsAwardsSec {
  @media (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}

.quoteInfoSpan {
  line-height: 16px;
}

.mattsAward {
  font-weight: 300;
  @media (min-width: 768px) {
    height: 110px;
   
    > section:last-child {
      height: 100%;
      display: flex;
      padding-top: 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    height: 150px;
  }

 

  @media (max-width: 991px) and (min-width: 576px) {
    padding-left: 30px;
    > section:last-child {
      > div {
        width: 120px;
        height: 120px;
      }
    }
  }

  @media (max-width: 575px) {
    display: flex;
    flex-direction: column-reverse;

    > section:last-child {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > section:first-child {
      margin-top: 15px;
      padding: 0px 10px 0px 10px;
      @media (min-width: 992px) {
        margin-left: 0px;
      }
      span {
        display: block;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    span {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
    }
  }

  @media (min-width: 1200px) {
    > section:first-child {
      padding-top: 10px;
      margin-left: 0px;
    }
  }
}

.secWithHumanPic {
  img {
    border-radius: 50%;
    border: solid 1px #707070;
  }

  @media (max-width: 575px) {
    display: flex;
    flex-direction: column-reverse;
    > section:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    > section:first-child {
      span {
        display: block;
        text-align: center;
      }
      text-align: center;
    }
  }
}

.ownerSection > section:first-child span {
  @media (min-width: 576px) and (max-width: 768px) {
    margin-top: 10px;
    display: inline-block;
  }

  @media (max-width: 575px) {
    line-height: 25px;
  }
}

.scientist {
  @media (min-width: 768px) {
    > section {
      h4 {
        font-size: $scientistFontSize;
      }
    }

    > section:first-child {
      margin-top: 20px;
      > span {
        line-height: 24px;
        font-size: $spanDesktopFontSize;
      }
    }

    display: inline-flex;
    > section:last-child {
      @media (max-width: 1199px) {
        margin-bottom: 10px;
      }
      > div {
        width: 200px;
        border-radius: 0px;
        height: 200px;
        position: relative;
        > span {
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 175px;
          height: 175px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column-reverse;
    height: 350px;

    > section:last-child {
      width: 100%;
      display: grid;
      place-items: center;
    }

    > section:first-child {
      height: 115px;
      margin-top: 0px;
      margin-left: 0px;

      > h4 {
        text-align: center;
      }

      > span {
        text-align: center;
        display: inline-block;
        width: 100%;
      }
    }
  }

  @media (min-width: 1200px) {
    display: inline-flex;
  }

  @media (max-width: 575px) {
    > section:last-child {
      margin-bottom: 15px;
    }

    span {
      line-height: 33px;
    }
  }
}

.scientist {
  @media (max-width: 575px) {
    > section:first-child {
      span {
        line-height: 20px;
      }
    }
  }
}

.scientist:not(:first-child) {
  @media (max-width: 768px) {
    margin-top: 10px;
  }

  @media (max-width: 575px) {
    margin-top: 55px;
  }
}

.regImgSec {
  @media (min-width: 1200px) {
    height: fit-content;
  }
}

.shareYourKnowledgeDesktopSec {
  > section:first-child {
    > section:last-child {
      @media (min-width: 1200px) {
      }
    }
  }
}

.gpConstellation {
  @media (min-width: 768px) {
    height: 300px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    min-width: 320px;
    margin-left: 13px;
  }

  @media(min-width: 768px){
    // min-width: 
  }

  @media(min-width: 992px){
    min-width: 360px;
  }

  @media (min-width: 1200px) {
    min-width: 450px;
  }
}

@media (min-width: 768px) {
  .gpConstellation,
  .shareYourKnowledgeImgContainer > img {
    // width: 480px;
    // height: 280px;

    @media (max-width: 1199px) {
      width: 380px;
      height: 280px;
    }
  }

  .shareYourKnowledgeImgContainer {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
  }
}

.gpConstellation {
  width: 480px;
}

@media (max-width: 768px) {
  .GPConstellationSec > section:last-child {
    @media (max-width: 575px) {
      margin-top: 25px;
    }
  }

  .GPConstellationSec > section:last-child {
    > div {
      width: 40vw;
      height: 250px;
      display: grid;
      align-items: center;
    }
    @media (min-width: 576px) {
      margin-right: 10px;
      margin-top: 0px;
      margin-right: 0px;
    }

    @media (max-width: 575px) {
      > div {
        height: fit-content;
        margin-top: 0px;
      }
    }
  }
  .shareYourKnowledgeImgContainer > img {
    width: 350px;
    height: 250px;
  }
}

.lessonInfoSec {
  @media (min-width: 1200px) {
    transform: translateX(20px);
  }
}

.shareYourKnowledgeDesktopSec {
  > section:first-child {
    > section:first-child {
      @media (min-width: 1300px) {
        padding-left: 3rem;
      }
    }
  }
}

.shareYourKnowledgeImgSec {
  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .scientist:nth-child(even) {
    margin-top: 50px;
  }
}

.GPConstellationSec {
  > section:first-child {
    > span {
      font-size: $spanFontSize;
      padding-right: 40px;

      @media (max-width: 768px) {
        display: inline-flex;
      }
    }
  }

  @media (min-width: 576px) {
    flex-direction: row;
    > section:first-child {
      margin-left: 0px;
      padding-right: 5px;
    }

    > section:last-child {
      div {
        width: 35vw;
        height: 200px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      @media (min-width: 576px) and (max-width: 768px) {
        display: flex;
        flex-direction: row;

        > section:first-child {
          display: flex;
          justify-content: center;
          padding-top: 25px;

          > span {
            @media (min-width: 576px) {
            }
          }
        }
      }

      > section:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
      }
    }
  }
  @media (max-width: 575px) {
    > section:last-child {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: 70%;
        height: 150px;
      }
    }
  }
}

@media (max-width: 575px) {
  .GPConstellationSec {
    flex-direction: column;
    > section:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      > span {
        display: inline;
        padding-left: 13px;
        padding-right: 13px;
      }
    }

    > section:last-child {
      > div {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 290px;
      }
    }
  }
}

.GPConstellationSec{
  > section{
    width: 33vw;
  }
}


.mattsAwardParentSec {
  > section:nth-child(2) {
    @media (min-width: 1200px) {
      width: 45%;
      > section:first-child {
        padding-right: 40px;
      }
    }
  }
}

.grantReviewsBulletPtsSec {
  bottom: 0px;
}
