
.ownerSection{
  @media (min-width: 992px) and (max-width: 1299px){
      display: flex !important;
      flex-direction: column-reverse !important;
      > section:first-child{
        margin-top: 25px !important;
      }

      > section:last-child{
        width: 100% !important;
      }
  }
  > section:last-child{
    > div{
      @media(min-width: 768px){
        width: 225px !important;
        height: 225px !important;
      }
    }
  }

  > section:first-child{
    @media(max-width: 575px){
      margin-top: 17px !important;
    }

    > span{
      @media(min-width: 768px){
        line-height: 28px;
      }
    }
  }
}

.picAndDescriptionSec {
  display: flex;
  flex-direction: row-reverse;

  > section {
    > div {
      @media(max-width: 767px){
        width: 150px !important;
        height: 150px !important;
      }
    }
  }

  > section:last-child {
    height: 200px !important;
    width: fit-content !important;
  }

  @media (min-width: 576px) {
    > section:first-child {
      margin-left: 25px !important;
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;
    > section:first-child {
      > span {
        text-align: center;
        display: block;
        padding-left: 8px !important;
        padding-right: 8px !important;
      }
    }
  }
}


.GPConstellationSec {
  @media (min-width: 576px) {
    flex-direction: row !important;
    > section:first-child{
      margin-left: 0px !important;
      padding-right: 5px !important;
    }
    > section:last-child{
      div{
        margin-left: 5px;
        width: 35vw !important;
        height: 200px !important;
      }
    }
  }
  @media (max-width: 575px) {
    > section:last-child {
      width: 100% !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
      
      
      div {
        // border: solid pink;
        // width: 45% !important;
        margin-top: 20px !important;
        width: 70% !important;
        height: 190px !important;
        // min-width: 164px !important;
        min-width: 240px !important;
      }
    }
  }
}

.shareYourKnowledgeDesktopSec{
  > section:first-child{
    @media (min-width: 768px) and (max-width: 1199px){
      height: 300px !important; 
    }
  }
}

.GPConstellationSec.onDesktop{

  @media(min-width: 768px){
    > section:last-child{
      div{
        width: 40vw !important;
        max-width: 576px !important;

        @media(max-width: 1199px){
          width: 40vw !important;
        }
      }
    }
  }

  @media (min-width: 768px) {
    > section:first-child{
      display: none !important;
    }
    > section:last-child{
      > div{
        height: 300px !important;
      }
    }
  }

  @media(min-width: 768px) and (max-width: 1199px){
    > section:last-child{
      height: auto !important;
    }
  }
}

.ownerSection {
  > section {
    > div {
      @media(max-width: 767px){
        width: 190px !important;
        height: 190px !important;
      }
    }
  }

  
  @media (min-width: 576px) {
    padding-bottom: 75px;
    > section:first-child {
      margin-left: 20px !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1299px){
    > section:last-child{
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    > section:first-child{
      margin-left: 0 !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      > span{
        @media(max-width: 991px){
          margin-left: 20px !important;
        }
        @media(min-width: 992px){
          text-align: center !important;
        }
      }
    }
  }

  @media (max-width: 575px) {
    padding-bottom: 50px;
    > section:first-child {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }
}


.imgSquareContainer {
  @media(min-width: 768px){
    width: 70px;
    height: 70px;
  }

  @media(max-width: 767px){
    width: 120px;
    height: 120px;
  }
}

.picAndDescriptionSecInList:not(:first-child) {
  margin-top: 25px !important;
}

@media(min-width: 1200px){
  .mattsAward:not(:first-child){
    margin-top: 50px !important;
  }
}

.mattsAwardsSec{
  @media(min-width: 992px){
    margin-left: 80px !important;
  }
}

.mattsAward {
  @media(min-width: 768px){
    height: 120px !important;
    span{
      font-size: 29px !important;
    }
    > section:last-child{
      height: 100% !important;
      display: flex !important;
      padding-top: 10px !important;
    }
  }

  @media(min-width: 768px) and (max-width: 991px){
    height: 220px !important;
  }

  

  @media(max-width: 767px){
    span{
      text-decoration: underline !important;
      text-decoration-thickness: 1.5px !important;
    }
  }

  @media(max-width: 991px) and (min-width: 576px){
    padding-left: 30px !important;
    > section:last-child{
      > div{
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
  @media (max-width: 575px) {
    display: flex !important;
    flex-direction: column-reverse !important;

    > section:last-child {
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    > section:first-child {
      span {
        display: block !important;
        text-align: center !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }

    span{
      text-decoration: underline !important;
      text-decoration-thickness: 1.5px !important;
      // padding-left: 8px !important;
      // padding-right: 8px !important;
    }
  }
}

.secWithHumanPic {
  img {
    border-radius: 50% !important;
    border: solid 1px #707070 !important;
  }

  @media (max-width: 575px) {
    display: flex !important;
    flex-direction: column-reverse !important;
    > section:last-child {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100% !important;
    }

    > section:first-child {
      span {
        display: block !important;
        text-align: center !important;
      }
      text-align: center !important;
    }
  }
}


.scientist{
  @media(min-width: 768px){
    > section:first-child{
      margin-top: 20px !important;
      > span{
        line-height: 24px !important;
        font-size: 20px !important;
      }
    }
    height: 230px !important;
    > section:last-child {
      > div{
        width: 200px !important;
        border-radius:  0px !important;
        height: 200px !important;
        position: relative !important;
        > span{
          transform: translate(-50%, -50%) !important;
          top: 50% !important; 
          left: 50% !important;
          width: 175px !important;
          height: 175px !important;
        }
      }
    }
  }

  @media(min-width: 768px) and (max-width: 1199px){
    // border: solid pink !important;
    // display: flex !important;
    flex-direction: column-reverse !important;
    height: 350px !important;

    > section:last-child{
      width: 100% !important;
      display: grid;
      place-items: center;
    }

    > section:first-child{
      height: 115px !important;
      margin-top: 0px !important;
      margin-left: 0px !important;

      > h4{
        text-align: center !important;
      }

      > span{
        text-align: center !important;
        display: inline-block !important;
        width: 100% !important;
      }
    }
  }
}

.scientist:not(:first-child) {
  @media(max-width: 767px){
    margin-top: 35px !important;
  }
}
