.readyToInspireParentSec {
  background-color: #2e0b1b;
  height: fit-content;
  position: relative;
  width: 100vw;
  border: none;
  
  @media(max-width: 767px){
    height: 800px;
  }
}

.readyToInspireSec {
  background-color: #2e0b1b;

  @media(min-width: 1200px){
    display: flex;
    align-items: center;
    justify-content: center;
  > section{
      max-width: 695.82px;
    }
  }

  @media(min-width: 768px){
    transform: translateY(-165px);

    @media (min-width: 768px) {
      padding-bottom: 100px;
    }
  }

  @media (max-width: 767px) {
    width: 100vw;
    height: 800px;
    bottom: 0;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    margin-right: calc(-1 * ((100vw - 100%) / 2));
    position: absolute;
    transform: translateY(-165px);
  }

  > section:first-child {
    @media (min-width: 992px) {
      margin-right: 45px;
    }
  }
}



.readyToInspireImgSec{
  img{
    height: 500px;

    @media(min-width: 576px) and (max-width: 1199px){
      height: 500px;
      width: 100%;
    }

    @media(max-width: 575px){
      height: 300px;
    }
  }

  @media(min-width: 992px) and (max-width: 1199px){
    height: 575px;
    min-width: 452px;
    width: 95%;
  }

  @media(min-width: 1200px){
    width: 100%;
  }
}

.readyToInspireImg{
  img{
    object-fit: contain;
    height: 100%;

    @media(min-width: 1200px){
      // min-width: 650px;
      // min-width: 750px;
    }
  }
}




.readyToInspireImg{
  @media(min-width: 768px){
    height: 100%;

  }

  @media(max-width: 767px){
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
  }
}


.classRoom2ContentStyles {
  @media (min-width: 768px) {
    height: 500px;
  }

  @media (max-width: 767px) {
    height: 400px;
  }

  @media(max-width: 575px){
    height: 290px;
  }

  > section {
    bottom: 30px;
  }
}

.readyToInspireTxtsSec{
  @media(min-width: 1200px) {
    padding-left: 100px;
  }

  @media(min-width: 992px){
    width: 100%;

    button{
      transform: translateY(15px);
    }
  }

  @media(min-width: 768px) and (max-width: 991px){
    // padding-left: 50px;
    // padding-bottom: 50px;

    > section{
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 100%;
      > span{
        width: 100%;
      }

      span{
        font-size: 35px;
      }
    }
  }

  @media(min-width: 992px){
    > section{
      width: 100%;

      span{
        line-height: 43px;
      }
    }
  }
}

.orderLaCarteSec{
  @media(min-width: 1200px){
    transform: translateY(30px);
  }
}


.orderLaCarteSec,
.readyInspireSec{

  @media(min-width: 768px){
    span{
      font-size: 2.5rem;
    }
    

    > span:not(:first-child){
      @media(max-width: 991px){
        margin-top: 25px;
      }
    }

    > span{
      line-height: 48px;

      @media(max-width: 991px){
        padding-right: 25px;
        height: fit-content;
      }
    }
  }

  @media(min-width: 768px) and (max-width: 991px){
    height: 180px;
  }

  @media(min-width: 1200px){
    span{
      max-width: 470px;
      text-align: start;
    }
  }

  @media(min-width: 1200px) and (max-width: 1400px){
    > span{
      padding-right: 45px;
    }
  }
}


