.eachLessonInfoList {
  @media (min-width: 768px) and (max-width: 1199px) {
    column-count: 2;
    column-gap: 40px !important;
  }

  li {
    font-size: $spanFontSize;
    max-width: 580px !important;
  }

  @media (max-width: 767px) and (min-width: 1200px) {
    li:not(:first-child) {
      margin-top: 13px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    li {
      height: 150px !important;
      list-style: disc !important;

      @media (min-width: 992px) {
        padding-right: 40px !important;
      }
    }
  }

  @media (max-width: 767px) {
    li:not(:first-child) {
      margin-top: 15px !important;
    }
  }
}

.eachLessonMainSec {
    > section {
      h5 {
        font-size: 30px !important;
        font-weight: 380;
      }
    }
  }


  .shareYourKnowledgeImgContainer.onSmallScreens{
    height: 300px;
    max-width: 500px;

    @media(max-width: 575px){
      max-width: 320px;
      height: 190px;
    }
  }

.introTxtShareYourKnowledge {
  > span {
    font-size: $spanFontSize;
    @media (min-width: 1200px) {
      padding-right: 70px !important;
    }

    @media (min-width: 768px) {
      color: #000000 !important;
    }
  }
}

.shareYourKnowledgeDesktopSec li{
  @media (min-width: 768px)  and (max-width: 991px){
    line-height: 26px;;
  }
}

.shareYourKnowledgeDesktopSec li,
.shareYourKnowledgeDesktopSec span {
  @media (min-width: 768px) {
    font-size: $spanDesktopFontSize;
  }
}

.eachLessonWrapper {
  @media (min-width: 1200px) {
    max-height: 385.5px !important;
  }

  > section {
    > h3 {
      color: black !important;
      font-size: 24px !important;
    }
  }
}
