.img-background-container {
  // min-height: 400px !important;

  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-right: calc(-1 * ((100vw - 100%) / 2))
}


.clientFundingDesktop{
  @media (min-width: 768px) {
    width: 100% !important;
    padding-bottom: 70px !important;
  }
}

.clientFundingDesktop,
.dynamicTeamsSec{
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #2E0B1B !important;
}


.dynamicTeamsSec{
  // padding: 0px 10px 0px 10px !important;

  > section:first-child {
    @media (min-width: 576px) {
      position: relative !important;
      height: 107px !important;
      max-width: 600px !important;

      h2{
        // border: solid pink !important;
        left: 35px !important;
        position: absolute !important;
      }
    }

    > h2{
      text-align: start !important;;

      @media (max-width: 575px) {
        text-align: center !important;
      }
    }
    // border: solid pink !important;
  }

  > section:last-child{
    > div{
      width: 95% !important;
      min-width: 0 !important;
    }
  }
}

