.img-background-container {
  // height: fit-content;
  min-height: 400px;
  // height:100% !important;
  // border: solid pink !important;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-right: calc(-1 * ((100vw - 100%) / 2))
}



