@import "../../../globalVars.scss";

$backgroundColorTierCard: #ffeded;
$tierHeadingFontSize: 22px;
$desktopFontSizeTierStatus: 24px;

.tierCard {
  overflow: hidden;
}

.cardsCentralizedSec {
  > div {
    width: 540px;
  }
}

.tierHeaderTag {
  font-size: $tierHeadingFontSize;
  @media (min-width: 1300px) {
  }

  @media (min-width: 1400px) {
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .tierDefaultStyles {
    @media (min-width: 1200px) {
      padding-bottom: 100px;
      max-width: 520px;
      // min-width:  330px;
      // border: solid pink;
    }
  }

  @media (min-width: 1200px) {
    .tierDefaultStyles:first-child,
    .tierDefaultStyles:nth-child(2),
    .tierDefaultStyles:last-child {
      width: 45%;
      width: 45%;
      max-width: 520px;
    }
  }

  .tierDefaultStyles:nth-last-child(-n + 2) {
    // margin-left: 20px;

    @media (min-width: 1200px) and (max-width: 1300px) {
      // margin-left: 40px;
    }
  }
}

.tierImg {
  @media (max-width: 575px) {
    min-width: 80px;
  }

  width: 140px;
  height: 140px;
  @media (min-width: 768px) {
    width: 120px;
    height: 120px;
  }
}

.tierTableRow {
  @media (min-width: 768px) {
    @media (min-width: 1440px) {
      height: 10px;
      white-space: nowrap;

      td:last-child {
        white-space: nowrap;
      }
    }

    height: 60px;

    @media (min-width: 1200px) {
      height: 70px;
    }

    line-height: 27px;
    overflow: hidden;
    td:last-child {
      padding-left: 10px;
    }
  }
}

.tierTableRow:not(:first-child) {
  td {
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
}

.tierCard,
.tierCardBodyAndHeader {
  background-color: $backgroundColorTierCard;
  border-radius: $borderRadiusModal;
}

.tierProductBorder {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.tierInfoStatus {
  @media (min-width: 768px) {
    white-space: nowrap;
  }
  text-align: right;
}

.productInfoTable {
  * {
    color: #000000;
  }
}

.tierParagraphSec {
  @media (min-width: 768px) {
    p {
      line-height: 20px;
      font-size: $spanFontSize;
    }
  }
}

.productSec {
  @media (min-width: 768px) {
    section {
      a {
        line-height: normal;
      }
    }
  }
}

.tierCardBody {
  position: relative;

  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 0px;
  }
}

.estimatedPriceWrapper {
  @media (min-width: 768px) {
    height: 150px;
  }
}

.priceSection {
  margin-top: auto;

  @media (min-width: 768px) {
    position: absolute;
    bottom: -10px;
    left: 15px;
  }
}

.tierProductImg {
  @media (min-width: 1200px) {
    height: 170px;
  }
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.imgProductContainer {
  position: relative;
  height: 150px;

  // > img {
  //   max-width: 400px;
  //   position: absolute;
  //   // width: 300px;
  //   height: 108px;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);

  //   @media (min-width: 768px) and (max-width: 1199px) {
  //     width: 515px;
  //   }

  //   @media (min-width: 1200px) {
  //     min-width: 308px;
  //   }

  //   @media (min-width: 576px) and (max-width: 991px) {
  //     width: 100%;
  //     left: 48%;
  //   }

  //   @media (max-width: 575px) {
  //     width: 100%;
  //     min-width: 240px;
  //     left: 50%;
  //   }
  // }
}

.imgProductContainer {
  width: 100%;

  @media (max-width: 575px) {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
  }

  @media (min-width: 1200px) {
  }
}

.priceTxt {
  @media (min-width: 1200px) {
    white-space: nowrap;
  }
}

.priceTxtHorizontal {
  > span {
    font-size: 19px;
  }
}

.tierInfoModalHeader {
  padding: 5px 0px 5px 0px;

  h3 {
    @media (max-width: 575px) {
      max-width: 150px;
      text-align: flex-start;
      margin-top: 10px;
    }
  }
}

.tierDefaultStyles p {
  @media (min-width: 768px) {
    line-height: 28px;
  }
}

@media (min-width: 768px) {
  .exampleProductTxt,
  .tierDefaultStyles p,
  .tierDefaultStyles td,
  .tierDefaultStyles a {
    font-size: $spanDesktopFontSize;
  }
}
