$borderColorForWhatDoWeDoSec: #d0b4bf;

.whatDoWeDoSec {
  border-radius: 1.3em;
  border: solid 0.8px $borderColorForWhatDoWeDoSec;
  padding: 25px 45px 25px 45px;

  @media (min-width: 1300px) {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: 35px 45px 35px 45px !important;

    > section:last-of-type{
      height: 45px !important;
      padding-bottom: 25px !important;
    }
  }

  @media(max-width: 575px){
    padding: 10px 45px 10px 45px;
  }

  > section:first-child > section{
    img{
      width: 35px !important;
    }
  }
}


.howDoesItWorkSec{
  @media(min-width: 1200px){
    margin-top: 70px !important;

    > section:last-child{
      margin-top: 20px !important;
    }
  }
}

.HireUsCardFirstSecMobile.weMobileKnowledgeSec:not(:first-child) {
  @media (min-width: 1200px) {
    margin-left: 15px !important;
  }
}

.weMobileKnowledgeSec.lastSec {
  width: 60% !important;
  margin-top: 45px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .whatDoWeDoSec {
    > section:first-child {
      height: 112px !important;
      width: 100% !important;
    }
  }

  .weMobileKnowledgeSec:nth-child(2) {
    transform: translateX(20px) !important;
  }

  .weMobileKnowledgeSec:nth-child(1),
  .weMobileKnowledgeSec:nth-child(2) {
    height: 109px !important;
  }
}

.weMobileKnowledgeSec.lastSec {
  margin-top: 75px !important;
}

.weMobileKnowledgeSec {
  @media (min-width: 992px) and (max-width: 1299px) {
    padding-right: 15px !important;
  }
}

.weMobileKnowledgeSec {
  @media (min-width: 768px) {
    > section:last-child {
      margin-left: 15px !important;
    }
  }
}

.HireUsCardFirstSecMobile > section:first-child img {
  max-width: none !important;
  width: 50px !important;
  height: 60px !important;
}

.HireUsCardFirstSecMobile:first-child > section:first-child {
  img {
    // width: 35px !important;
  }
}

.hireUsCardBoldedTxt {
  @media (min-width: 1400px) {
    white-space: nowrap !important;
  }
}

