.longClientReview {
  transform: translateY(30px);

  > section:first-child {
    > section > span > span {
      inset: auto 0px -80px auto;
    }
  }
}

.shortTxtClientReview {
  transform: translateY(50px);

  > section:first-child {
    > section > span > span {
      inset: auto 0px -80px auto;
    }
  }

  @media (max-width: 575px) {
    transform: translateY(55px);
  }
}

.shortTxtClientReview > section > section > span,
.longClientReview > section > section > span {
  line-height: 22px;

  @media (max-width: 1199px) {
    @media (max-width: 767px) {
      width: 100%;
    }



    @media (min-width: 768px) {
      width: 90%;
    }
  }
}

.longClientReview {
  @media (max-width: 1199px) {
    transform: translateY(10px);
  }
}

.clientsBulletPtsSec{
}

.clientsContainer{
}

.longClientReview > section:first-child > section > span > span {
  @media(min-width: 576px) and (max-width: 767px){
    transform: translate(-3px,-10px);
  }
}

.clientsContainer {
  height: 330px;

  @media(min-width: 768px) and (max-width: 991px){
    height: 370px;
  }

  @media(min-width: 992px) and (max-width: 1199px){
    min-width: 864px;
  }

  @media(min-width: 768px) and (max-width: 991px){
    min-width: 685px;
  }

  @media(min-width: 576px) and (max-width: 767px){
    height: 420px; 
    min-width: 565px; 
  }

  @media(max-width: 575px){
    height: 575px; 
  }
}

.longClientReview{
  @media(max-width: 575px){
    transform: translateY(43px);

    > section:first-child{
      > section:last-of-type {
        transform: translateY(-5px)
      }

      > section:first-of-type{
        span{
          line-height: 16.8px;
        }
      } 
    }
  } 
}




.johanaReviewStyles{
  @media(max-width: 575px){
    transform: translateY(50px);
  }

  @media(min-width: 992px) and (max-width: 1199px){
    transform: translateY(40px);
  }
}

