.longClientReview {
  transform: translateY(30px);

  > section:first-child {
    > section > span > span {
      inset: auto 0px -80px auto !important;
    }
  }
}

.shortTxtClientReview {
  transform: translateY(50px);

  > section:first-child {
    > section > span > span {
      inset: auto 0px -80px auto !important;
    }
  }

  @media (max-width: 575px) {
    transform: translateY(90px);

    @media(max-width: 325px){
        transform: translateY(150px);
    }
  }
}

.shortTxtClientReview > section > section > span,
.longClientReview > section > section > span {
  @media (max-width: 1199px) {
    @media (max-width: 767px) {
      width: 100% !important;
    }

    @media (min-width: 768px) {
      width: 90% !important;
    }
  }
}

.longClientReview {
  @media (max-width: 1199px) {
    transform: translateY(10px) !important;
  }
}

.clientsContainer {
  @media (min-width: 576px) {
    height: 300px !important;
    min-width: 560px !important;
    //   min-height: 555px !important;

    @media (min-width: 768px) {
      min-width: 750px !important;
    }

    @media(max-width: 991px){
      height: 310px !important;
    }

    @media (min-width: 992px) {
      min-width: 900px !important;
    }

    @media (max-width: 1399px) {
      > div {
        > div {
          > div {
            // quote info box
            section:nth-child(2) {
              bottom: -120px !important;
            }
          }

          // bullet points section
          > section:last-of-type {
            @media (max-width: 575px) {
              margin-top: 160px !important;
            }


            transform: translateY(70px) !important;

            @media(max-width: 1199px){
            transform: translateY(100px) !important;
            }

            @media(max-width: 767px){
              transform: translateY(90px) !important;
            }
          }
        }
      }
    }

    @media (min-width: 1400px) {
      > div {
        > div {
          > div {
            // quote info box
            section:nth-child(2) {
              bottom: -120px !important;
            }
          }

          // bullet points section
          > section:last-of-type {
            @media (max-width: 575px) {
              margin-top: 160px !important;
            }

            transform: translateY(70px) !important;

            // margin-top: 125px !important;
          }
        }
      }
    }

    @media (min-width: 1300px) {
      > div {
        > div {
          > div {
            // quote info box
            section:nth-child(2) {
              bottom: -85px !important;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    //   min-height: 420px !important;

    min-width: 1150px !important;

    > div {
      > div {
        > section {
          margin-top: 3.5rem !important;
        }
      }
    }
  }

  @media (max-width: 575px) {
    height: 410px !important;

    @media (max-width: 510px) {
      height: 425px !important;
    }

    @media (max-width: 450px) {
      height: 455px !important;
    }

    @media (max-width: 410px) {
      height: 485px !important;
    }

    @media (max-width: 374px) {
      height: 505px !important;
    }

    @media (max-width: 346px) {
      height: 535px !important;
    }

    @media (max-width: 328px) {
      height: 575px !important;
    }

    @media (max-width: 310px) {
      height: 605px !important;
    }

    @media (max-width: 295px) {    
      height: 660px !important;
    }
    > div {
      > div {
        > div {
          // quote info box
          section:nth-child(2) {
            // bottom: -80px !important;
          }
        }

        // bullet points section
        > section:last-of-type {
          z-index: 100;
          margin-top: 40px !important;
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    height: 360px !important;
    > div {
      > div {
        > div {
          // quote info box
          section:nth-child(2) {
            bottom: 0px !important;
          }
        }

        // bullet points section
        > section:last-of-type {
          //   margin-top: 30px !important;
        }
      }
    }
  }
}

.clientsContainer {
}

// .shortTxtClientReview {
//     @media (max-width: 325px) {
//       transform: translateY(345px) !important;
//     }

//     @media (min-width: 326px) {
//       transform: translateY(200px) !important;
//     }

//     @media (min-width: 460px) {
//       transform: translateY(120px) !important;
//     }

//     @media (min-width: 576px) and (max-width: 767px) {
//       transform: translateY(90px) !important;
//     }

//     @media (min-width: 768px) {
//       transform: translateY(40px) !important;
//     }

//     @media (min-width: 1300px) {
//       transform: translateY(20px) !important;
//     }
//   }
