@import "../../variables";
@import "../../../../assets/scss/core/variables";

.Standards {
  @media (max-width: map-get($grid-breakpoints, "md")) {
    padding-right: 2rem !important;
  }

  * {
    min-height: 0 !important;
  }

  .Mui-expanded {
    margin: 0 !important;
  }

  .MuiExpansionPanel-root {
    &::before {
      display: none;
    }
  }

  .MuiPaper-elevation1 {
    box-shadow: none;
  }

  .clickInvitation {
    margin: 2rem 2rem 0;
    padding: 1rem;
    color: $charcoal;
    background-color: $gray;
    width: fit-content;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5;
    .clickOn {
      color: $hydrogen-blue;
      font-weight: 500;

      .fa-mouse-pointer {
        margin: 0 0 0 -0.25em;
        transform: translateX(0.15em) translateY(0.90em) rotate(-5deg);
        font-size: 12px;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
        //text-shadow: 0 0 1px white;
      }
    }
  }

  .Subject {
    h4 {
      margin: 0;
      color: $white;
    }

    > .ExpansionPanelSummary {
      padding: 0.6rem 1rem 0.5rem 1.5rem;

      > .MuiExpansionPanelSummary-content {
        margin: 0;
      }

      > .MuiExpansionPanelSummary-expandIcon {
        padding: 0;
        color: $white;
        margin-right: 0;

        .MuiSvgIcon-root {
          font-size: 2.25rem;
        }
      }
    }

    &.math {
      background-color: $blood-orange-hhl;

      > .ExpansionPanelSummary {
        background-color: $blood-orange;
      }
    }

    &.ela {
      background-color: $mango-hhl;

      > .ExpansionPanelSummary {
        background-color: $mango;
      }
    }

    &.science {
      background-color: $lilac-hhl;

      > .ExpansionPanelSummary {
        background-color: $lilac;
      }
    }

    &.socialstudies {
      background-color: $royal-purple-hhl;

      > .ExpansionPanelSummary {
        background-color: $royal-purple;
      }
    }

    .Dimension {
      &:not(:first-child) {
        margin-top: 1.25rem;
      }

      > p {
        margin: 0.5rem 0;
      }

      .StandardsGroup {
        &:not(:last-child) {
          border-bottom: 2px solid rgba($charcoal, 0.4);
        }

        .MuiCollapse-entered {
          border-top: 1px solid rgba($charcoal, 0.2);
        }

        .grades {
          color: rgba($charcoal, 0.6);
          font-weight: bold;
        }

        .codes {
          margin: 0;
          padding: 0.5rem 1rem;

          .MuiExpansionPanelSummary-content {
            margin: 0;

            p {
              margin: 0.5rem 0;
            }
          }

          .MuiExpansionPanelSummary-expandIcon {
            padding: 0;
          }
        }

        .alignmentNotes {
          padding: 1rem 1rem 0 1rem;
          border-left: 1px solid $charcoal;
          margin-left: 1rem;
          background-color: $gray;

          h6 {
            margin-top: 0;
          }

          ul:last-of-type {
            //margin-bottom: 0;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}
