@import "../../variables";

.Procedure {
  h3 {
    color: $hydrogen-blue !important;
    text-transform: uppercase;
  }

  h4 {
    padding: 0 2rem;
    font-size: 1.25rem;
  }

  .RichText {
    img {
      display: block;
      width: 90%;
      max-width: 45rem;
      margin: 2rem auto 1rem auto;
    }
  }

  .ExpansionPanelDetails > div > .RichText {
    padding: 0 2rem;

    p {
      font-size: 1.1rem;
    }
  }

  .RichText.tldr {
    p {
      font-size: 1.1rem;
    }
  }

  .LessonPart {
    border: none;
    padding: 0;
    margin: 0;

    &::before {
      display: none;
    }

    &.Mui-expanded {
      margin: 2rem 0 !important;
    }

    p {
      margin: 0.8rem 0;
    }

    .iconNote {
      font-size: 0.9rem;
      margin: 0.5rem 0 0.5rem;
      display: flex;

      p {
        margin: 0;
      }

      .bulletIcon {
        height: 2rem;
        width: 3rem;
        box-sizing: border-box;
        padding: 0 1rem 0 0;
        float: left;
      }
    }

    .PartPreface {
      padding: 0;
      border-top: 2px solid $charcoal;
      border-bottom: 2px solid $charcoal;

      h3 {
        margin: 1rem 0 0.6rem 0;
      }

      .MuiExpansionPanelSummary-content {
        margin: 0;
      }

      .ExpansionPanelSummary {
        align-items: flex-end;
      }
    }

    .chunkTitle {
      margin-bottom: -0.75rem;
      padding-bottom: 0;
    }
    .chunkGraphTimeLabel {
      font-size: 1.4rem;
      fill: $hydrogen-blue;
      font-weight: 800;
    }

    .chunkGraphAxisLabels {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .MuiCollapse-wrapper {
      padding-top: 0 !important;
    }

    .PartBody {
      .duration {
        background: #eee;
        border-radius: 0.5rem;
        padding: 0.25rem 1rem;
        margin: 0;

        p {
          color: $hydrogen-blue;
          font-weight: bold;
        }

        h5 {
          color: rgba($charcoal, 0.9);
        }
      }

      > div {
        padding-top: 1rem;
      }

      .LessonStep {
        padding: 1.5rem 0 0 2rem;
        margin-left: 1rem;
        border-left: 1px solid rgba($hydrogen-blue, 0.5);

        *:last-child {
          margin-bottom: 0 !important;
        }

        h5 {
          margin: 0;
          padding: 0;
        }

        .step {
          font-size: 1.1rem;
          margin-top: -0.25rem;
          background-color: $hydrogen-blue;
          position: absolute;
          left: 0;
          width: 2rem;
          height: 2rem;
          box-sizing: border-box;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .vocab {
          margin: 1rem 0 2rem 0;

          ul {
            padding-left: 1.5rem;
          }
        }
      }

      /*End LessonStep*/
      .LessonStep:last-of-type {
        padding-bottom: 2rem;
      }
    }

    .MuiExpansionPanelSummary-root {
      padding: 0;

      .MuiExpansionPanelSummary-content {
        margin: 0 !important;

        h2 {
          margin: 0;
        }
      }

      > .MuiExpansionPanelSummary-expandIcon .MuiSvgIcon-root {
        font-size: 2.25rem;
        color: $charcoal;
      }
    }
  }

  @media screen and (max-width: 960px) {
    .chunkTitle {
      padding-bottom: 0.5rem !important;
    }
    .chunkGraphTimeLabel {
      font-size: 1.7rem !important;
    }
  }

  @media screen and (max-width: 600px) {
    .chunkTitle {
      font-size: 0.9rem !important;
      line-height: 1.1 !important;
      padding-bottom: 1rem !important;
      margin-top: 0.25rem !important;
    }
    .chunkGraphAxisLabels {
      font-size: 1.5rem !important;
    }
    .chunkGraphTimeLabel {
      font-size: 2.4rem !important;
    }
    .LessonStep {
      padding: 1rem 0.1rem 0 1.3rem !important;
    }
    .LessonStep:last-of-type {
      padding-bottom: 2rem !important;
    }
  }
}
