$moreJobsBtnColor: #6c2d82;

.jobFieldStartingResult {
  height: 185px;
  width: 320px;
  h4 {
    padding: 0px 5px 0px 5px;
    font-size: 22px;
    font-weight: 600;
  }
}

.bracketSec,
.jobCategoriesSec {
  width: 85%;
}

.jobCategoriesSec {
}

.jobCategoriesSec {
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    @media (min-width: 992px) {
        width: 992px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.job-categories-btn {
  background-color: $moreJobsBtnColor;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    background-color: #913bae;
    color: white;
    transform: scale(1.02);
  }
}

.jobFieldStartingResult {
  margin-top: 40px;
}
