@import "../globalVars.scss";

$carouselBackgroundColor: #ffeded;
$feedbackTxtFontSizeDesktop: 24px;

* {
  box-sizing: border-box;
}

.bg-carousel-color {
  background-color: $carouselBackgroundColor;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.navBtnLeftCarousel {
  transform: translate(-15px, -10px);
}

.navBtnRightCarousel {
  transform: translate(15px, -10px);
}

.navBtnLeftCarousel,
.navBtnRightCarousel {
  @media (min-width: 576px) and (max-width: 767px) {
    svg {
      font-size: 50px;
    }
  }
}

.autoCarouselContainerCard {
  width: 85%;
  border-radius: 1.3em;

  @media (min-width: 1200px) {
    max-width: 1224px;
  }

  @media (max-width: 575px) {
    width: 95%;
  }
}

.picsCardContainercardOnlyStyles {
  @media (min-width: 768px) {
    margin-top: 25px;
    width: 95%;

    > div {
      padding-top: 30px;
    }

    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        height: 100%;
        padding-top: 30px;
      }
    }
  }

  @media (max-width: 575px) {
    max-width: 450px;
  }
}

.picsCardContainercardOnlyStyles {
  @media (min-width: 768px) {
    height: 205px;
  }
}

.autoCarouselContainerHeading {
  height: 150px;
}

.feedbackTxt {
  white-space: normal;
  margin: 0 auto;
  display: block;
  line-height: 22px;
  font-weight: 249;
  height: fit-content;

  @media (min-width: 768px) and (max-width: 991px) {
    line-height: 23px;
  }

  @media (max-width: 767px) {
    width: 400px;
  }

  @media (min-width: 1200px) {
    padding-left: 10px;
  }

  font-size: $feedbackTxtFontSizeDesktop;

  @media (max-width: 575px) {
    width: fit-content;
    padding: 0px 5px 0px 5px;
    font-size: 1.15rem;
  }
}

.navBtnSec {
  z-index: 10000000;
}

.iframeContainer{
  width: 100%;
  height: auto;

  @media(min-width: 576px){
    height: 315px;
  }
}

.autoCarouselSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.carouselTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-parallax-bgimage {
  @media (min-width: 768px) {
    height: 800px;
  }
}

.lessonTitle{
  @media(max-width: 575px){
    font-size: 1.0625rem;
    line-height: 18px;
  }
}

.lessonRelevanceTxt{
  @media(max-width: 575px){
    font-size: .9rem;
    line-height: 18px;
  }
}

.defaultHeadingCarouselStyles {
  color: black;

  @media (min-width: 768px) {
    font-weight: 400;
  }

  @media (max-width: 767px) {
    font-weight: 800;
  }

  @media (max-width: 575px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.cardHeadingSec {
  height: 100px;

  @media (min-width: 768px) {
    > h2 {
      font-weight: 800;
      font-size: $carouselHeader;
    }
  }

  @media (max-width: 767px) {
    height: 150px;
  }
}

.feedBackSec {
  @media (min-width: 768px) {
    min-height: 180px;
  }

  @media (min-width: 768px) {
    min-height: 280px;

    > section:first-of-type {
      align-items: stretch;
      padding-top: 20px;
    }
  }

  @media (min-width: 1300px) {
    // min-height: 210px ;
  }
}

.autoCarouselContainer {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;

  @media (min-width: 768px) {
    max-width: 1000px;
  }

  @media (max-width: 767px) {
    max-width: 500px;
  }
}

.productReviewTxt {
  @media (max-width: 767px) {
    top: 0;
    left: 0;
  }

  position: absolute;
  @media (min-width: 768px) {
    transform: translateY(-20px);
  }

  @media (max-width: 767px) {
    font-size: $spanFontSizeSmall;
  }
}

.studentInfoSec {
  width: 100%;

  @media (max-width: 767px) {
    display: grid;
    align-items: center;
  }

  @media (min-width: 768px) {
    transform: translateY(40px);
  }
}

.studentParentStyles {
  @media (max-width: 767px) {
    transform: translateY(75px);
  }

  @media (max-width: 575px) {
    transform: translateY(65px);

    @media (max-width: 425px) {
      transform: translateY(95px);
    }

    @media (max-width: 325px) {
      transform: translateY(115px);
    }

    @media (max-width: 305px) {
      transform: translateY(135px);
    }
  }
}

.autoCarouselItem {
  display: inline-flex;
  border-radius: 40px;
  width: 100%;

  @media (max-width: 767px) {
    width: 100%;
  }

  > section {
    > section:first-child {
      @media (max-width: 575px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.slides {
  display: flex;

  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  width: 305px;
  // width: 200px;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  height: 1px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: white;
}

.headingCarousel {
  color: #ffffff;
  // font-size: 40px;
}

.carouselImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: none;

    @media (min-width: 576px) {
      width: 90px;
      height: 90px;
    }

    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }

    @media (min-width: 992px) {
      width: 140px;
      height: 140px;
    }

    @media (min-width: 1300px) {
      width: 170px;
      height: 170px;
    }

    @media (max-width: 575px) {
      width: 140px;
      height: 140px;
    }
  }
}

.carouselImgContainer:last-of-type {
  @media (min-width: 576px) and (max-width: 767px) {
    transform: translateX(10px);
  }
}

.carouselImgContainer {
  width: 125px;
  height: 125px;

  @media (min-width: 576px) {
    width: 130px;
    height: 130px;
  }

  @media (min-width: 768px) {
    width: 140px;
    height: 140px;
  }
}

.carouselImgContainer:not(:first-child) {
  @media (min-width: 1200px) {
    margin-left: 85px;
  }
}

.carouselImgContainer:nth-child(4) {
  width: 260px;

  @media(min-width: 576px){
    width: 220px;
  }

  @media (min-width: 992px) {
    width: 280px;
  }
}

.picsCardContainer {
  @media (max-width: 575px) {
    width: 50%;
    min-width: 255.5px;
  }
}

.carouselImgContainer:not(:first-child) {
  @media (max-width: 575px) {
    margin-top: 30px;
  }
}

.grantReviewTxtStyles {
  > section {
    > section {
      > span {
        width: 85%;
        text-align: center;

        @media (min-width: 576px) {
          text-align: flex-start;
        }

        line-height: 22px;
      }
    }
  }
}

.grantReviewsCard {
  height: 270px;

  @media (min-width: 576px) {
    min-width: 547px;
  }

  @media (min-width: 768px) {
    min-width: 750px;
  }

  @media (min-width: 1200px) {
    // min-width: 1135.59px;
    // max-width: 1180px ;
    width: 1000px;
  }

  @media (max-width: 575px) {
    height: 400px;
  }
}

.grantReviewShortTxtStyles {
  @media (max-width: 575px) {
    > section:first-child {
      transform: translateY(40px);

      @media (max-width: 392px) {
        transform: translateY(40px);
      }

      @media (max-width: 350px) {
        transform: translateY(70px);
      }
    }
  }
}

.grantReviewTxtStyles {
  > section:first-child {
    transform: translateY(10px);
  }

  @media (max-width: 575px) {
    > section:first-child {
      transform: translateY(20px);
    }
  }
}

.grantReviewItemCarousel.longTxtContent {
  @media (max-width: 575px) {
    transform: translateY(-50px);
  }
}

.grantReviewerBulletPtsSec {
  @media (max-width: 575px) {
    transform: translateY(-50px);
  }

  @media (min-width: 768px) {
    transform: translateY(25px);
  }
}

.grantReviewerBulletPtsSec {
  @media (min-width: 768px) {
    margin-top: 25px;
  }

  @media (max-width: 767px) {
    margin-top: 25px;
  }
}

.grantReviewShortTxtStyles {
  @media (min-width: 768px) {
    height: 100px;
  }

  @media (min-width: 1200px) {
    transform: translateY(20px);
  }
}

.grantReviewShortTxtStyles {
  @media (min-width: 576px) {
    > section > section > span > span {
      inset: auto -100px -60px auto;
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    > section > section > span > span {
      inset: auto -40px -60px auto;
    }
  }

  @media (min-width: 768px) {
    > section > section > span > span {
      inset: auto -10px -60px auto;
    }
  }
}

.grantReviewTxtStyles {
  @media (min-width: 576px) {
    > section > section > span > span {
      right: 20px;
      bottom: -40px;
    }
  }

  @media (max-width: 575px) {
    > section > section:last-of-type {
      transform: translateY(-5px);
    }
  }
}

.grantReviewItemCarousel {
  @media (min-width: 768px) {
    > section {
      > section:first-child {
        width: 100%;
        @media (max-width: 1199px) {
          height: 230px;
        }
        span {
          text-align: center;
          transform: translateY(50px);
        }
      }

      > section:last-child {
        right: 20px;
      }
    }
    width: 100%;
    span {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    min-height: 230px;
  }
}

.carouselImgContainer:first-of-type,
.carouselImgContainer:nth-last-of-type(2) {
  @media (max-width: 575px) {
    img {
      width: 265px;
    }
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .carouselImgContainer:first-of-type {
    img {
      width: 120px;
    }
  }
}

.carouselImgContainer:first-of-type {
  @media (min-width: 768px) {
    img {
      width: 187px;
    }
  }
}

.carouselImgContainer:last-child {
  > img {
    width: 80px;
  }
}

.carouselImgContainer {
  @media (max-width: 575px) {
  }
}

.carouselImgContainer:nth-last-of-type(2) {
  @media (min-width: 768px) {
    img {
      width: 209px;
    }

    @media (min-width: 950px) {
      img {
        width: 220px;
      }
    }

    @media (min-width: 992px) {
      img {
        width: 240px;
      }
    }

    @media (min-width: 1200px) {
      img {
        width: 300px;
      }
    }
  }
}

.starsContainer {
  height: fit-content;
}

.bulletPtsTeachersAndStudents {
  @media (min-width: 768px) and (max-width: 991px) {
    > section:last-child {
      margin-top: 0px;
    }

    transform: translateY(4px);
  }
}
.bulletPtsSec {
  @media (min-width: 768px) and (max-width: 992px) {
    margin-top: 50px;
  }
}

.shortFeedbackTxtSec {
  @media (min-width: 1400px) {
    transform: translateY(90px);
  }

  @media (min-width: 768px) and (max-width: 1399px) {
    > span {
      height: fit-content;
      transform: translateY(90px);
    }
  }

  @media (max-width: 767px) {
    > span {
      height: fit-content;
      transform: translateY(110px);
    }
  }
}

.shortQuoteInfoSec {
  @media (max-width: 767px) {
    transform: translateY(110px);

    @media (max-width: 575px) {
      transform: translateY(80px);
    }
  }
}

.clientReview {
  @media (min-width: 992px) {
    > section {
      > section:last-of-type {
        bottom: -43px;
      }
    }
  }

  @media (min-width: 1200px) {
    > section {
      > section:last-of-type {
        bottom: -43px;
      }
    }
  }
}

.grantReviewerBulletPtsSec {
  @media (min-width: 768px) {
    margin-top: 20px;
    height: 120px;
  }
}

.nonStudentInfoSec.shortQuoteInfoSec {
  @media (max-width: 575px) {
    transform: translateY(100px);
  }
}

.clientReview.shortTxtContent {
  height: 100%;
}

.feedbackInfoSec.nonStudentInfoSec {
  @media (min-width: 1300px) {
    transform: translateY(30px);
  }
}

.teachersAndStudentReview {
  > section {
    > section:first-of-type {
      > span {
        transform: translateY(10px);
      }
    }
  }
}

.cardMainStylesTeachersAndStudents {
  @media (min-width: 576px) and (max-width: 767px) {
    min-width: 560px;
  }

  @media (min-width: 1200px) {
    min-width: 1150px;
  }

  @media (max-width: 575px) {
    height: 360px;
  }

  @media (min-width: 576px) {
    max-width: 1224px;
    height: 290px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    height: 290px;
    min-width: 757px;
  }

  @media (min-width: 992px) {
    min-width: 896px;
  }
}

.teachersAndStudentsTestimoniesSec {
  @media (max-width: 767px) {
    min-height: 220px;
    > section:first-of-type {
      transform: translateY(20px);
    }
  }

  @media (min-width: 768px) {
    min-height: 200px;

    > section:last-of-type {
      bottom: -35px;

      @media (min-width: 1200px) {
        bottom: 25px;
      }
    }
  }

  @media (max-width: 575px) {
    height: 250px;
  }

  @media (max-width: 459px) {
    height: 295px;
  }
}

.grantReviewerBulletPtsSec {
  @media (max-width: 575px) {
    margin-top: 55px;
    transform: translateY(0px);
  }
}

.grantReviewShortTxtStyles {
  @media (max-width: 767px) {
    transform: translateY(30px);
  }
}

.teacherTestimony {
  height: 100px;

  @media (max-width: 1199px) and (min-width: 576px) {
    > section {
      > span {
        left: 10px;
        transform: translateY(-15px);

        @media (max-width: 768px) and (min-width: 576px) {
          transform: translateY(-25px);
        }
      }
      > section {
        > span:first-child {
          @media (max-width: 767px) and (min-width: 576px) {
            line-height: 24px;
          }
        }

        > span {
          width: 75%;

          @media (max-width: 575px) {
            width: 100%;
            line-height: 26px;
            padding: 0px 0px 0px 0px;
          }

          @media (max-width: 768px) and (min-width: 576px) {
            width: 90%;
          }
        }
      }

      > section:last-of-type {
        top: 70px;
      }
    }
  }

  @media (min-width: 1200px) {
    > section {
      > section:last-of-type {
        top: 70px;
      }
    }
  }
}

.studentTestimony {
  height: 100px;

  @media (max-width: 575px) {
    transform: translateY(60px);
  }

  @media (min-width: 576px) {
    transform: translateY(30px);
  }

  @media (min-width: 576px) and (max-width: 767px) {
    transform: translateY(40px);
  }

  @media (min-width: 768px) {
    transform: translateY(30px);

    @media (max-width: 992px) {
      transform: translateY(50px);
    }
  }

  @media (min-width: 992px) {
    transform: translateY(50px);
  }

  @media (min-width: 1200px) {
    transform: translateY(50px);
  }

  @media (max-width: 320px) {
    transform: translateY(80px);
  }

  > section {
    > span {
      @media (min-width: 576px) and (max-width: 767px) {
        transform: translateY(-10px);
      }
    }

    > section:first-of-type {
      height: 80px;

      > span:first-child {
        @media (max-width: 767px) and (min-width: 576px) {
          line-height: 24px;
        }
      }
    }
  }

  > section {
    > section {
      > span {
        @media (max-width: 767px) {
          text-align: center;
        }
        > span {
          @media (max-width: 1199px) {
            @media (min-width: 576px) and (max-width: 767px) {
              top: 65px;
              right: -50px;
            }

            top: 45px;
            right: -50px;
          }

          @media (min-width: 1200px) {
            top: 50px;
            right: -60px;
          }
        }
      }
    }
    > section:last-of-type {
      @media (min-width: 768px) {
        right: 230px;
      }

      @media (min-width: 1200px) {
        right: 230px;
      }
    }
  }
}

.grantReviewsAutoCarouselContainer {
  @media (min-width: 1200px) {
    max-width: 810px;
  }
}

.teacherTestimony {
  @media (max-width: 575px) {
    transform: translateY(20px);
  }

  @media (min-width: 375px) and (max-width: 575px) {
    transform: translateY(40px);
  }

  > section {
    // quote section
    > section:last-of-type {
      @media (max-width: 1199px) {
        right: 60px;
      }

      @media (max-width: 991px) {
        // transform: translateY(7px) ;
      }

      @media (max-width: 575px) {
        transform: translateY(-5px);
        line-height: 15px;
      }
    }
  }

  @media (min-width: 768px) {
    transform: translateY(20px);
  }

  @media (min-width: 768px) and (max-width: 991px) {
    transform: translateY(30px);
  }

  @media (min-width: 576px) and (max-width: 767px) {
    transform: translateY(20px);
  }

  @media (min-width: 1200px) {
    transform: translateY(35px);
  }
}

.quoteInfoTxts {
  font-size: $spanFontSizeSmall;
  transform: translateX(-10px);

  @media (min-width: 576px) and (max-width: 767px) {
    span > span:not(:last-child) {
      display: inline-block;
      height: 18px;
    }
  }
}

.teachersAndStudentsAutoCarouselContainer {
  @media (min-width: 1200px) {
    max-width: 840px;
  }
}

.teacherTestimony {
  > section {
    > section {
      > span {
        > span {
          @media (min-width: 576px) {
            top: 80px;
            right: -40px;
          }

          @media (min-width: 768px) and (max-width: 991px) {
            top: 70px;
            right: 20px;
          }

          @media (min-width: 576px) and (max-width: 767px) {
            top: 90px;
            right: 10px;
          }

          @media (min-width: 992px) {
            top: 75px;
            right: -30px;
          }

          @media (min-width: 1200px) {
            top: 60px;
            right: 0px;
          }
        }
      }
    }
    // quote section
    > section:last-of-type {
      @media (min-width: 768px) {
        right: 230px;
      }

      @media (min-width: 1200px) {
        right: 230px;
      }
    }
  }
}

.quoteInfoSec {
  bottom: -10px;
  right: 15px;

  @media (max-width: 767px) and (min-width: 576px) {
    bottom: 70px;
    right: 24px;

    @media (min-width: 576px) {
      bottom: 20px;
    }
  }

  @media (max-width: 575px) {
    line-height: 16px;
    transform: translateY(20px);
  }

  > section {
    > span {
      font-size: $spanFontSizeSmall;
    }

    > span:first-child {
      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 22px;
      }
    }
  }
}

.bulletPtsTeachersAndStudents {
  bottom: 0px;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-right: calc(-1 * ((100vw - 100%) / 2));

  @media (max-width: 767px) {
    bottom: -3px;
  }

  @media (max-width: 575px) {
    bottom: -5px;
  }
}

.bulletPtsTeachersAndStudents {
  button svg {
    font-size: 25px;
  }
}

.grantReviewsBulletPtsSec {
  @media (max-width: 575px) {
    bottom: -5px;
  }
}

.grantReview4QuoteInfo {
  @media (min-width: 1200px) {
    transform: translateX(-30px);
  }
}
