.center {
  margin: 30px;
  /* background-color: #eee; */
  border-radius: 10px;
  box-shadow: 0px 10px 10px #eee;
}

.inner_center {
  margin: 100px;
}

.think_big {
  text-align: center;
  padding: 70px;
}