$white: #fff;
$sparkle-white: #f0f4ff;
$galactic-black: #363636;
$galactic-gray: lighten($galactic-black, 20%);
$galactic-gray50: lighten($galactic-black, 50%);

$atomic-blue-light: #9f4bff;
$atomic-blue: #6812d1;
$atomic-blue-dark: #291c9e;
$atomic-blue-highlight: #8b80ff3c;

$lightning-purple-light: #9c5ab2;
$lightning-purple: #6c2d82;
$lightning-purple-dark: #3e0d55;

$burst-purple: #cb1f8e;
$burst-purple-dark: #96195f;
$burst-purple-highlight: #ff51c52c;

$flare-fuchsia-light: #ff5dbe;
$flare-fuchsia: #ff3dac;

$hydrogen-blue-light: #69b2f7;
$hydrogen-blue: #2c83c3;
$hydrogen-blue-dark: #005792;
$hydrogen-blue-highlight: #54adff4d;

$math: #db4125;
$math-hl: lighten($math, 40%);

$sel: #0070da;
$sel-hl: lighten($sel, 48%);

$ela: #df8c2d;
$ela-hl: lighten($ela, 37%);

$extra: #f4f0d9;
$highlight: #ffe5526a;

$science: #9e71e8;
$science-hl: lighten($science, 27%);

$social-studies: #633a9a;
$social-studies-hl: lighten($social-studies, 48%);

$sustainability: #349964;
$sustainability-hl: lighten($sustainability, 48%);
