$enable-cssgrid: true;

@import "colors";

@import "../styles/globalVars.scss";
@import "../pages/_colors.scss";

$primary: $hydrogen-blue;
$secondary: $burst-purple;
$info: $atomic-blue;

$btn-padding-x: 1.75rem;
$btn-padding-y: 0.85rem;
$btn-font-size: 1.1rem;

$btn-padding-x-sm: 1.25rem;
$btn-padding-y-sm: 0.5rem;
$btn-font-size-sm: 1rem;

$btn-font-weight: 500;

$font-size-root: 18px;

h4.words {
  word-wrap: break-word;
  background-color: "pink";
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/react-responsive-carousel/lib/styles/carousel.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.picker-container {
  .picker {
    visibility: hidden;
    z-index: -100;
  }
}

.responseiveH1 {
  font-size: 27px;

  @media (min-width: 577px) {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.sign-up-input-label {
  font-size: 16px;

  @media (min-width: 576px) {
    font-size: 18px;
  }
}

.text-lg {
  font-size: 18px;
}

.no-list-style {
  list-style-type: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

.list-item:not(:last-child)::after {
  content: ", ";
}

.text-transform-default {
  text-transform: none;
}

.fst-italic {
  font-style: italic !important;
  white-space: normal !important;
}

.fade-out {
  animation: fadeOut 2s forwards;
  opacity: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 2s forwards;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-backdrop-in {
  animation: fadeBackdropIn 250ms forwards;
  opacity: 0.25;
}

@keyframes fadeBackdropIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
}

.cover-parent-container {
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-right: calc(-1 * ((100vw - 100%) / 2));
}

.o--Profile--name,
.o--Profile--password {
  display: none;
}

.fade-modal-in-short {
  animation: fadeModalInShort 250ms forwards;
  opacity: 1;
}

@keyframes fadeModalInShort {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-modal-out-short {
  animation: fadeModalOutShort 250ms forwards;
  opacity: 1;
  visibility: hidden;
}

.no-children-border-radius * {
  border-radius: 0%;
}

@keyframes fadeModalOutShort {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    // visibility: hidden;
  }
}

.fade-in-quick {
  animation: fadeInQuick 0.5s forwards;
  opacity: 1;
}

@keyframes fadeInQuick {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gp-plus-tours-modal {
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  top: 5px;
  background-color: #f4f9fa;
  background-repeat: repeat;
  background-size: 70px 70px; /* closer spacing */
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg stroke='%23cccccc' stroke-width='1.2'%3E%3Cline x1='35' y1='32' x2='35' y2='38'/%3E%3Cline x1='32' y1='35' x2='38' y2='35'/%3E%3C/g%3E%3C/svg%3E");

  @media (min-width: 576px) {
    height: 99vh;
    border-radius: 4em;
  }
}

.modal-dialog-override {
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.account-sm-modal {
  width: 21vw;
  right: 30%;
  max-width: 300px;
  min-width: 270px;
  opacity: 1;
  position: absolute;

  @media (max-width: 541px) {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    left: 30%;
  }
}

.fade-out-quick {
  animation: fadeOutQuick 0.25s forwards;
  opacity: 1;
}

@keyframes fadeOutQuick {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

* {
  text-underline-offset: 4px !important;
}

.text-lg {
  font-size: 18px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.default-cursor {
  cursor: auto !important;
}

a {
  color: $hydrogen-blue;
  text-decoration: none;
  font-weight: bolder;

  //automatic exceptions for badge & nav-links for certain effects
  &:hover:not(.badge, .no-link-decoration, .cardsOnLessonPg) {
    &:not(.nav-link, .btn) {
      color: lighten($hydrogen-blue, 8%);
    }

    text-decoration: underline;
  }
}

a > span {
  vertical-align: middle;
}

//add no-link-decoration to avoid hover effects and stuff
.no-link-decoration {
  color: initial;
  font-weight: initial;

  &:hover {
    color: initial;
    text-decoration: none;
  }
}

//for removing hover effects of <a> tags
.no-hover-color-change:hover {
  color: inherit;
}

.no-hover-underline:hover {
  text-decoration: none;
}

.no-x-mobile-margin {
  @media (max-width: 576px) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 700;
}

// h3 {
//   color: $burst-purple-dark;
//   font-weight: 800;
// }
h3 {
  color: $black;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.01rem;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.btn-disabled {
  opacity: 0.5;
}

ol li {
  word-break: break-word;
}

.no-btn-styles {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.capitalize {
  text-transform: capitalize;
}

.user-modal-color {
  background-color: white;
}

.account-settings-input,
.aboutme-txt-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px grey;
}

.account-settings-input {
  max-width: 450px;
}

.about-me-input-border {
  border: solid 1px grey;
}

.link-disabled {
  pointer-events: none;
}

.no-border-left {
  border-left: none;
}

.no-border-top {
  border-top: none;
}

.bg-light-blue {
  background-color: rgb(232, 240, 254);
}

.login-modal-input-container {
  background-color: rgb(232, 240, 254);
}

.login-modal-input {
  width: 65%;
  @media (min-width: 578px) {
    width: 75%;
  }
}

.error-border {
  border: solid 1px red;
}

.gp-plus-member-modal {
  width: 90vw;

  @media (min-width: 576px) {
    width: 35vw;
  }
}

.input-read-only {
  pointer-events: none;
}

.login-ui-modal {
  width: 35vw;

  @media (min-width: 577px) {
    min-width: 400px;
    max-height: 670px;
  }

  @media (max-width: 576px) {
    width: 100vw;
    border-radius: 0% !important;
    height: 100vh;
  }
}

.google-sign-in-btn {
  min-width: 195px;

  @media (min-width: 577px) {
    min-width: 310px;
  }
}

.border-grey-dark {
  border: solid 1px grey;
}

.grades-or-years-non-usa-btn,
.grades-or-years-usa-btn {
  width: 155px;
}

.grades-or-years-usa-btn {
  border-top: solid grey 1px;
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  @media (min-width: 577px) {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0.5rem;
    border-bottom: solid grey 1px;
    border-right: none;
  }
}
.grades-or-years-non-usa-btn {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: solid grey 1px;
  border-left: solid grey 1px;
  border-bottom: solid grey 1px;
  border-top: none;

  @media (min-width: 577px) {
    border-top-right-radius: 0.5rem;
    border-left: none;
    border-top: solid grey 1px;
    border-bottom-left-radius: 0px;
    border-bottom: solid grey 1px;
  }
}

.grades-or-years-non-usa-btn-unselected {
  border-top: solid grey 1px;

  @media (min-width: 577px) {
    border-left: solid grey 1px;
  }
}

.unselected-non-us-opt {
  border-top: none;

  @media (min-width: 577px) {
    border-left: none;
  }
}

.text-grey {
  color: grey !important;
}

#zipCode-input {
  @media (max-width: 576px) {
    max-width: 400px;
  }
}

.subjects-taught-container {
  column-count: 2;

  @media (max-width: 992px) {
    column-count: 1;
  }
}

.text-shadow-violent {
  text-shadow: 0px 0px 4px #470d29;
}

.lesson-item-modal {
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
}

.account-settings-modal,
.about-me-modal {
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  @media (max-width: 992px) {
    border-radius: 0px;
    overflow-y: scroll;
    height: auto;
  }
}

.error-txt-about-user-container {
  height: 65px;

  @media (min-width: 577px) {
    height: 30px;
  }
}

.error-txt-container-account-settings {
  @media (min-width: 768px) {
    height: 45px;
  }
}

.account-settings-modal {
  height: 75vh;

  @media (min-width: 992px) {
    width: 70vw;
    max-height: 740px;
    border-radius: 1.5rem;
  }

  @media (max-width: 991px) {
    height: 100vh;
  }
}

.account-modal {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #333438;

  @media (max-width: 992px) {
    border-radius: 0px;
    overflow-y: scroll;
  }
}

.selected-grade-or-years-opt {
  border: #6192b0 solid 2px;
  color: #6192b0;
}

.no-border-right {
  border-right: none;
}

.no-border-bottom {
  border-bottom: none;
}

.txt-color-for-aboutme-modal {
  color: black;
}

.about-me-modal-body label {
  font-weight: bold;
  color: black;
}

.about-me-modal-body {
  input {
    background-color: white;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.notify-modal-body::first-letter {
  text-transform: capitalize;
}

.border-red {
  border: solid 1.5px red;
}

.input-focus-blue {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  // padding: 3px 0px 3px 3px;
  // margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.no-outline {
  outline: none;
}

.about-me-modal-body {
  input {
    color: black;
  }
  textarea {
    color: black;
    outline: none;
    field-sizing: content;
  }
}

.underline-on-hover-all:hover * {
  text-decoration: underline;
}

.no-outline {
  outline: none;
}

// text utilities
.text-height-0 {
  line-height: 1;
}

.text-height-1 {
  line-height: 1.5;
}

.fs-7 {
  font-size: 0.75rem;
}

.fs-larger {
  font-size: 33px;
}

.fs-md-larger {
  @media (min-width: 768px) {
    font-size: 33px !important;
  }
}

.fs-md-med {
  @media (min-width: 768px) {
    font-size: 26px !important;
  }
}

.fs-large {
  font-size: 28px;
}

.fs-24 {
  font-size: 24px;
}

.fs-med {
  font-size: 20px !important;
}

//standards
.selected-standard {
  background-color: #fff9c8;
  -webkit-box-shadow: inset -1px 5px 14px -6px rgba(97, 97, 97, 1);
  -moz-box-shadow: inset -1px 5px 14px -6px rgba(97, 97, 97, 1);
  box-shadow: inset -1px 5px 14px -6px rgba(97, 97, 97, 1);
}

.selected-standard-highlight {
  color: $info;
  font-weight: bold;
  padding: 2px;
}

// background color utilities
.bg-light-gray {
  background-color: #eee;
}

.bg-gray {
  background-color: grey;
}

.bg-dark-gray {
  background-color: #444;
}

.bg-primary-light {
  background-color: lighten($primary, 45%);
}

.bg-secondary-light {
  background-color: lighten($secondary, 45%);
}

.bg-science {
  background-color: $science;
}

.bg-science-light {
  background-color: $science-hl;
}

.bg-math {
  background-color: $math;
}

.bg-sel {
  background-color: $sel;
}

.bg-sel-light {
  background-color: $sel-hl;
}

.bg-math-light {
  background-color: $math-hl;
}

.bg-ela {
  background-color: $ela;
}

.bg-ela-light {
  background-color: $ela-hl;
}

.bg-socialstudies {
  background-color: $social-studies;
}

.bg-socialstudies-light {
  background-color: $social-studies-hl;
}

.bg-sustainability {
  background-color: $sustainability;
}

.bg-sustainability-light {
  background-color: $sustainability-hl;
}

// lesson page styling classes
.infobox {
  border: 3px solid $galactic-gray;
}

.quickPrep {
  //remove margin for ol
  ol {
    margin-bottom: 0;
  }
}

// bootstrap overrides
.btn {
  text-transform: uppercase;
  color: $white;
}

.btn-primary {
  color: $white;

  &:active,
  &:focus,
  &:hover {
    color: $white;
  }
}

.btn-light {
  background-color: $sparkle-white;

  &:active,
  &:focus {
    background-color: $sparkle-white;
  }
}

.btn.text-left {
  text-align: left;
}

.btn-primary-light {
  background: lighten($hydrogen-blue-light, 25%);
}

.bg-dark-gray,
.readyToInspireSec {
  .btn-primary {
    background-color: lighten($primary, 5%);
    border-color: lighten($primary, 5%);
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: lighten($primary, 15%);
    }
  }

  .btn-secondary {
    background-color: lighten($secondary, 15%);
    border-color: lighten($secondary, 15%);
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($secondary, 25%);
      color: $white;
    }
  }
}

.text-gray {
  color: #aaa;
}

.white-divider-lg > :not(:first-child) {
  border-top: 1px solid $white;
}

@media (min-width: 992px) {
  .white-divider-lg > :not(:first-child) {
    border-left: 1px solid $white;
    border-top: 0;
  }
}

.noPadding {
  padding: 0 !important;
}

.noMargin {
  margin: 0 !important;
}

.noBackground {
  background-color: transparent !important;
}

.noBorder {
  border: none !important;
}

.bolder {
  font-weight: 700 !important;
}

.underline-less-thick {
  text-decoration-thickness: 0.5px !important;
}

.fw650 {
  font-weight: 650 !important;
}

.fw625 {
  font-weight: 625 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw450 {
  font-weight: 450 !important;
}

.fw425 {
  font-weight: 425 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw375 {
  font-weight: 375 !important;
}

.fw350 {
  font-weight: 350 !important;
}

.fw325 {
  font-weight: 325 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.rotateRight {
  transform: rotate(-90deg);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pt-8 {
  padding-top: 7rem !important;
}

.pb-8 {
  padding-bottom: 7rem !important;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px !important;
}

.mt-md-7 {
  @media (min-width: 768px) {
    margin-top: 70px !important;
  }
}

.mt-sm-7 {
  @media (min-width: 576px) {
    margin-top: 70px !important;
  }
}

.mt-8 {
  margin-top: 80px;
}

.mt-15 {
  margin-top: 150px;
}

.mb-15 {
  margin-bottom: 150px !important;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-sm-90 {
  @media (min-width: 576px) {
    width: 90% !important;
  }
}

.w-85 {
  width: 85%;
}

.w-sm-85 {
  @media (min-width: 576px) {
    width: 85% !important;
  }
}

.w-80 {
  width: 80%;
}

.negative-z-index {
  z-index: -1;
}

.square {
  width: 50vw;
  height: 50vw;
}

.w-md-75 {
  @media (min-width: 768px) {
    width: 75%;
  }
}

.w-md-50 {
  @media (min-width: 768px) {
    width: 50%;
  }
}

.w-45 {
  width: 45%;
}

.w-lg-75 {
  @media (min-width: 992px) {
    width: 75% !important;
  }
}

.img-optimize {
  image-rendering: -webkit-optimize-contrast;
}

.w-md-75 {
  @media (min-width: 992px) {
    width: 75% !important;
  }
}

.w-sm-100 {
  @media (min-width: 576px) {
    width: 100% !important;
  }
}

.w-md-25 {
  @media (min-width: 992px) {
    width: 25%;
  }
}

.w-max-sm-100 {
  @media (max-width: 576px) {
    width: 100%;
  }
}

.borderThicker {
  border: solid 1.3px #707070 !important;
}

.underline-1 {
  text-decoration-thickness: 0.03em !important;
}

.noBackground {
  background: none !important;
}

.noBorder {
  border-style: none !important;
}

.center-absolutely {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.w-sm-75 {
  @media (min-width: 576px) {
    width: 75% !important;
  }
}

.noBtnStyles {
  background-repeat: no-repeat;
  border: none;
  background: none;
  overflow: hidden;
  outline: none;
}

.roundedBorder {
  border-radius: 1.3em;
}

.serif-text {
  font-family: "Roboto Mono", Georgia, serif;
}

.hyphen {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  font-weight: 100;
}

.op-5 {
  opacity: 0.5 !important;
}

.moveLeft {
  transform: translateX(-15px) !important;
}

.no-underline {
  text-decoration: none !important;
}

.underline-on-hover:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.pointer {
  cursor: pointer !important;
}

.position-sm-absolute {
  @media (min-width: 576px) {
    position: absolute !important;
  }
}

.btnColorChangeOnHover:hover {
  opacity: 0.8 !important;
}

.moveRight {
  transform: translateX(15px) !important;
}

.spanSubheader {
  font-size: 18px !important;
  font-weight: 249 !important;
}

.accordion-header button {
  &.collapsed .bi-chevron-up {
    display: none;
  }

  &:not(.collapsed) {
    .bi-chevron-down {
      display: none;
    }

    .bi-three-dots {
      opacity: 0;
      margin-bottom: -1rem;
    }
  }
}

.navbar-toggler {
  margin-right: 1rem;
  margin-left: 1rem;

  @media screen and (max-width: 500px) {
    padding: 5px;

    & .navbar-toggler-icon {
      max-width: 20px;
      border-color: red;
    }
  }
}

.bounce-animation {
  animation: bounce 0.4s ease infinite alternate;
}

@keyframes bounce {
  0% {
    text-shadow: 0 5px 0 #ccc, 0 2px 3px rgba(0, 0, 0, 1);
  }
  100% {
    transform: translateY(-20px);
    text-shadow: 0 50px 0 rgba(0, 0, 0, 1) k, 0 0px 20px rgba(0, 0, 0, 0.8);
  }
}

.white-only-txt-md {
  color: white;

  @media (min-width: 768px) {
    color: black;
  }
}

.google-sign-in-btn {
  max-width: 503px;
  @media (min-width: 576px) {
    max-width: none;
  }
}

.blur-text-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent layer */
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  display: inline-block;
}

.li-dot-black::marker{
  color: black
}