$enable-cssgrid: true;

@import 'colors';

$primary: $burst-purple;
$secondary: $atomic-blue;
$info: lighten($hydrogen-blue-light, 25%);

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/react-responsive-carousel/lib/styles/carousel.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: $atomic-blue;
  text-decoration: none;
  &:hover {
    color: $atomic-blue-dark;
  }
}
a > span {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.no-hover-color-change:hover {
  color: inherit;
}

// text utilities
.text-height-0 {
  line-height: 1;
}
.text-height-1 {
  line-height: 1.5;
}
.fs-7 {
  font-size: 0.75rem;
}

// background color utilities
.bg-light-gray {
  background-color: #eee;
}
.bg-primary-light {
  background-color: lighten($primary, 45%);
}
.bg-science {
  background-color: $science;
}
.bg-science-light {
  background-color: $science-hl;
}
.bg-math {
  background-color: $math;
}
.bg-math-light {
  background-color: $math-hl;
}
.bg-ela {
  background-color: $ela;
}
.bg-ela-light {
  background-color: $ela-hl;
}
.bg-socialstudies {
  background-color: $social-studies;
}
.bg-socialstudies-light {
  background-color: $social-studies-hl;
}
// TODO: what are the other possible TargetSubject values? (see lessons page badges)

// bootstrap overrides
.btn-light {
  background-color: $sparkle-white;
  &:active, &:focus {
    background-color: $sparkle-white;
  }
}
.btn.text-left {
  text-align: left;
}

.white-divider-lg > :not(:first-child) {
  border-top: 1px solid $white;
}
@media (min-width: 992px) {
  .white-divider-lg > :not(:first-child) {
    border-left: 1px solid $white;
    border-top: 0;
  }
}

.accordion-header button {
  &.collapsed .bi-chevron-up {
    display: none;
  }
  &:not(.collapsed) {
    .bi-chevron-down {
      display: none;
    }
    .bi-three-dots {
      opacity: 0;
      margin-bottom: -1rem;
    }
  }
}
