@import 'pages/colors';

.Carousel {
  margin: 0 auto;
  max-width: 50rem;
  > :global(.carousel-slider) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;

    :global(.slider-wrapper) {
      order: -1;
    }
    > button {
      background: $galactic-black;
      color: $white;
      align-self: center;
      margin: .75rem;
      padding: .5rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
      font-size: 1.6rem;
      &:disabled {
        background: rgba($galactic-black, .25);
      }
      &:hover {
        background: rgba($galactic-black, .8);
      }
    }
    :global(ul.control-dots) {
      :global(li.dot) {
        opacity: 1;
        box-shadow: none;
        border: 2px solid #bebebe;
        background: #eee;
        padding: 4px;
      }
      :global(li.dot.selected) {
        background: rgba($hydrogen-blue, .6);
        border-color: $hydrogen-blue;
      }
    }

  // TODO: responsive carousel
  //  @media (min-width: map-get($grid-breakpoints, "md")) {
  //    flex-wrap: nowrap;
  //    justify-content: center;
  //
  //    > button {
  //      margin: .5rem 0;
  //    }
  //    .slider-wrapper {
  //      order: 0;
  //    }
  //    ul.control-dots {
  //      margin-top: 0;
  //    }
  //  }
  }
  
  :global(li.slide) {
    padding: .75rem;
    iframe {
      margin: 0 0 10px !important;
    }
    .SlideBody {
      text-align: left;
      height: 100%;
      padding: .75rem;
      margin-bottom: 0;
      //@media (min-width: 430px) {
      //  iframe {
      //    height: 16rem;
      //  }
      //}
      //@media (min-width: map-get($grid-breakpoints, "sm")) {
      //  padding: 1rem;
      //  iframe {
      //    height: 18rem;
      //  }
      //}
      //@media (min-width: map-get($grid-breakpoints, "md")) {
      //  padding: 1.5rem;
      //  iframe {
      //    height: 20rem;
      //  }
      //}
      //@media (min-width: map-get($grid-breakpoints, "lg")) {
      //  iframe {
      //    height: 25rem;
      //  }
      //}
    }
  }
  :global(.thumbs-wrapper) {
    margin: 0;
    :global(ul.thumbs) {
      padding: 0;
      margin: 0;
      :global(li.thumb) {
        background: $white;
        width: auto;
        text-align: center;
        padding: 0;
        border: .5rem solid $white;
        img {
          margin: auto;
          max-width: 100%;
          max-height: 50px;
          width: auto;
          :global(&.pdf) {
            padding: 5px;
          }
        }
      }
      :global(li.thumb.selected) {
        border: .5rem solid lighten($burst-purple, 40);
      }
    }
  }
}