@import "../../globalVars.scss";
@import "./tooltip.scss";
@import "./selectedLessonPg.scss";

$borderThickness: 1px;
$borderColor: darkgray;
$toolTipColor: #f0f4ff;

.lessonsSection {
  border-top: solid $borderThickness $borderColor;

  > div {
    @media (max-width: 575px) {
      display: flex !important;
      flex-direction: column;
    }
  }
}

.jobVizEntrySection span {
  font-size: 24px;
}

.jobVizEntrySection {
  h2 {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.jobVizLink:hover {
  text-decoration-color: #6c757d;
  text-decoration-thickness: 0.1px;
}

.jobVizImgContainer {
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    height: 130px;
    width: 130px;
  }

  @media (max-width: 575px) {
    height: 100px;
    width: 100px;
  }
}

.jobVizImg {
  font-size: 12px;
  max-width: 100%;
  max-height: 100%;
}

.jobVizCareer.cardOnLessonsPg.linkCard {
  // background-color: pink !important;;
  @media (max-width: 575px) {
    // border: solid pink;
    max-width: 447px !important;
  }
}

.jobVizCareer > section:first-child {
  height: 70%;
  > section:first-child {
    width: 43%;
  }

  > section:nth-child(2) {
    width: 57%;
    h4 {
      font-size: 1.3em;
      font-weight: 350;
      text-align: center;

      @media (max-width: 575px) {
        font-size: 1.1em;
      }
    }
    h4:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.lessonsPgShadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lessonsPgShadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.jobVizCareer:hover {
  cursor: pointer;
}

.jobVizCareer {
  @media (min-width: 768px) {
    width: 575px;
  }

  @media (max-width: 767px) and (min-width: 576px) {
    width: 445px;
  }

  @media (max-width: 575px) {
    padding: 10px 10px;
    margin-top: 10px;
    width: 95%;
    max-width: 540px;
    min-width: 265px;
  }

  span {
    font-size: 14px;

    @media (max-width: 575px) {
      padding-left: 20px;
      line-height: 17px;
    }
  }
}

.lessonImgContainer {
  height: 70px;
}

.cardOnLessonsPg {
  @media (min-width: 1200px) {
    img {
      max-height: 150px;
    }
    max-width: 633px;
  }

  img {
    max-width: 508px;
  }

  position: relative;

  > div:nth-child(2) {
    h3 {
      font-size: 1.3em;

      @media (max-width: 575px) {
        font-size: 1.1em;
      }
    }

    p {
      font-size: 14px;
    }
  }

  padding-bottom: 30px;
}

.thumbnailLi{

  @media(min-width: 576px){
    width: 80px;
    height: 65px;
  }
}

.itemVisible{
  @media(min-width: 576px){
    background-color: #f5c1e3;
  }
}

.itemNotVisible{
  @media(min-width: 576px){
    background-color: white;
  }
}


.carouselSelectedLessons {
  @media(min-width: 576px){
    max-width: 70rem !important;
  }

  @media(max-width: 575px){
    width: 80vw;
    max-width: 90vw !important;
  }
}

.lessonSlideBody {
  h5,
  p {
    width: 90%;
    @media (max-width: 575px) {
      width: 100%;
    }
  }

  span {
    @media (max-width: 575px) {
    }
  }
}

.lesson-media {
  @media (min-width: 992px) and (max-width: 1199px) {
    max-width: 475px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 380px;
  }

  @media (max-width: 767px) and (min-width: 576px) {
    max-width: 300px;
  }

  @media (max-width: 576px) {
    width: 60vw;
  }
}

.pdf-media {
  @media (min-width: 576px) and (max-width: 1199px) {
    max-width: 450px;
  }

  @media (max-width: 575px) {
    max-width: 205px;
  }
}

.lessonSecsNavDotsListContainer {
  top: 95px;
  right: 20px;
  z-index: 1000;

  @media (max-width: 575px) {
    right: 10px;
  }
}

.lessonSubject {
  bottom: 8px;
  left: 15px;
  width: fit-content;

  @media (max-width: 575px) {
  }
}

.lightbar {
  // height: 100px;
  display: block;
}

@media (max-width: 767px) {
  .dotLine {
    border-bottom: 1px dashed #363636;
    // left: 50%;
    top: 50%;
    // left: 101%;
    width: 90%;
    vertical-align: text-top;
  }
}

.company-partner-img-container {
  box-shadow: 0 16px 38px -12px rgba(54,54,54,.56), 0 4px 25px 0 rgba(54,54,54,.12), 0 8px 10px -5px rgba(54,54,54,.2);
  transition: box-shadow 0.15s ease-in-out;
}

.company-partner-img-container:hover {
  box-shadow: 0 16px 38px -6px rgba(54, 54, 54, 0.56), 0 4px 28px 0px rgba(54, 54, 54, 0.12), 0 8px 12px -2px rgba(54, 54, 54, 0.2);
}

.partnerCompany{
  @media(min-width: 992px){
    height: 400px;
  }
}

.human-wave-emoji{
  width: 15% !important;
  height: 100% !important;
  color: rgb(203, 31, 142);
}

.collaborateImg{
  @media(min-width: 576px){
    transform: translate(65%, -30%)
  }
}

.partnerCompany{
  width: 40%;

  @media(min-width: 768px) and (max-width: 991px){
    width: 75%;
  }

  @media(max-width: 767px){
    width: 90%;
  }
}


// teachIt section
.downloadTipIcon{
  // height: 70%;
  width: 75%;
  height: 100%;

  @media(max-width: 767px){
    width: 90%;
  }
}

$active-dot-teacher-materials-dot: #cb1f8e;
$active-dot-color: rgba(44, 131, 195, 0.6) !important; 


.active-dot-teacher-materials{
  background-color: $active-dot-teacher-materials-dot;
}

.active-dot{
  background-color: $active-dot-color;
}

.sectionNavDot{
  background-color: rgba(0,0,0,.1);
  height: 10px;
  width: 10px;
  border-radius: 50%;;
  display: inline-block; 
  margin: 0 5px; 
  border: 2px solid; 
  border-color: #bebebe; 
  padding: 4px; 
  opacity: 1; 
  transition: all .15s ease-in; 
  transition-property: background-color, border-color;
}

