@import "../../globalVars.scss";
@import "./tooltip.scss";
@import "./selectedLessonPg.scss";

$borderThickness: 1px;
$borderColor: darkgray;
$toolTipColor: #f0f4ff;

.loading-bubbles {
  transform: scale(150%);
}

.selected-gp-web-app-modal-body {
  height: 815px;

  @media (max-width: 992px) {
    height: 1100px;
  }
}

.selected-gp-web-app-modal-body-echo {
  height: 1100px;

  @media (max-width: 767px) {
    height: 1550px;
  }
}

.close-gp-vid-modal-btn {
  right: 7px;

  @media (max-width: 575px) {
    right: 3px;
  }
}

.close-gp-video-modal-icon {
  @media (min-width: 576px) {
    font-size: 1.3em;
  }
}

.see-more-btn {
  min-width: 225px;
  height: 70px;
}

.individualLessonImgSec {
  @media (min-width: 577px) {
    height: 100px;
  }
}

.lessons-section-border-top {
  border-top: solid $borderThickness $borderColor;
}

.down-arrow {
  position: absolute;
  background-color: black;
  transform: rotateZ(-45deg);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  right: -1px;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.jump-infinite-animate {
  animation: jumpInfinite 1.5s infinite;
}

@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  30%,
  80% {
    transform: scale(0.92, 0.95);
  }
}

.beat-animate {
  animation: beat 1.5s infinite;
}

.standards-txt-container {
  max-width: 90%;

  @media (max-width: 576px) {
    max-width: 85%;
  }
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%;
}

.lessonsSection {
  > div {
    @media (max-width: 576px) {
      display: flex !important;
      flex-direction: column;
    }
  }
}

.jobVizEntrySection span {
  font-size: 24px;
}

.jobVizEntrySection {
  h2 {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.jobVizLink:hover {
  text-decoration-color: #6c757d;
  text-decoration-thickness: 0.1px;
}

.jobVizImgContainer {
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    height: 130px;
    width: 130px;
  }

  @media (max-width: 575px) {
    height: 100px;
    width: 100px;
  }
}

.jobVizImg {
  font-size: 12px;
  max-width: 100%;
  max-height: 100%;
}

.jobVizCareer.cardOnLessonsPg.linkCard {
  @media (max-width: 575px) {
    max-width: 447px !important;
  }
}

.jobVizCareer > section:first-child {
  height: 70%;

  > section:first-child {
    width: 43%;
  }

  > section:nth-child(2) {
    width: 57%;

    h4 {
      font-size: 1.3em;
      font-weight: 350;
      text-align: center;

      @media (max-width: 575px) {
        font-size: 1.1em;
      }
    }

    h4:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.no-underline-on-hover:hover {
  text-decoration: none !important;
}

.lessonsPgShadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lessonsPgShadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.jobVizCareer:hover {
  cursor: pointer;
}

.jobVizCareer {
  @media (min-width: 768px) {
    // not media query
    width: 575px;
  }

  @media (max-width: 767px) and (min-width: 576px) {
    width: 445px;
  }

  @media (max-width: 575px) {
    padding: 10px 10px;
    margin-top: 10px;
    width: 95%;
    max-width: 540px;
    min-width: 265px;
  }

  span {
    font-size: 14px;

    @media (max-width: 575px) {
      padding-left: 20px;
      line-height: 17px;
    }
  }
}

.lessonImgContainer {
  height: 70px;
}

.cardOnLessonsPg {
  @media (min-width: 1200px) {
    img {
      max-height: 150px;
    }

    max-width: 633px;
  }

  img {
    max-width: 508px;
  }

  position: relative;

  > div:nth-child(2) {
    h3 {
      font-size: 1.3em;

      @media (max-width: 575px) {
        font-size: 1.1em;
      }
    }

    p {
      font-size: 14px;
    }
  }

  padding-bottom: 30px;
}

.bitly-txt-link {
  font-size: 1.1em;

  @media print {
    font-size: 1.1em;
  }
}

.qr-code-lesson-preview {
  @media print {
    margin-right: 25px;
  }
}

.thumbnailLi {
  @media (min-width: 576px) {
    width: 80px;
    height: 65px;
  }
}

.itemVisible {
  @media (min-width: 576px) {
    background-color: #f5c1e3;
  }
}

.itemNotVisible {
  @media (min-width: 576px) {
    background-color: white;
  }
}

.carouselSelectedLessons {
  @media (min-width: 576px) {
    max-width: 70rem !important;
  }

  @media (max-width: 575px) {
    width: 80vw;
    max-width: 90vw !important;
  }
}

.lessonSlideBody {
  h5,
  p {
    width: 90%;

    @media (max-width: 575px) {
      width: 100%;
    }
  }

  span {
    @media (max-width: 575px) {
    }
  }
}

// w-45 w-md-50 w-lg-25

.tagPillContainer {
  min-width: 150px;
  gap: 10px;
  width: 75%;

  @media (max-width: 575px) {
    width: 100%;
  }
}

// .selectedLessonPg,
// #lessonTitleSec {
//   max-width: $maxWidthLessonPgSections;
// }

.qrCodeContainer {
  // transform: scale(.8);
  // width: 200px;
  // height: 200px;
  width: 100%;
  height: 100%;

  @media (max-width: 991px) {
    // transform: scale(1.1)
    width: 120%;
    height: 120%;
    margin-right: 20px;
    margin-left: 10px;
    // transform: translateY(-20px)
  }
}

.qrCodeImgAndTxtContainer {
  // height: 185px;

  @media (max-width: 991px) {
    // height: 170px;
  }
}

.openAppTxt {
  font-size: 0.9em;
}

.ellipsize-txt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
}

.ellipsize-txt-3 {
  @extend .ellipsize-txt;
  -webkit-line-clamp: 3;
}

.ellipsize-txt-2 {
  @extend .ellipsize-txt;
  -webkit-line-clamp: 2;
}

.vid-card-heading-txt {
  font-size: 22px;
  font-weight: 600;
}

.mediaItemContainer {
  position: relative;
  border: 1px solid lightgray;
  height: 35vh;
  width: 100%;
  object-fit: contain;
  max-height: 470px;

  @media (min-width: 992px) {
    height: 60vh;
  }
}

.selected-vid-container-iframe {
  height: 400px;

  @media (max-width: 576px) {
    height: 300px;
  }
}

.click-to-open-txt {
  font-size: 24px;

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.web-app-img-container {
  height: 480px;

  @media (max-width: 576px) {
    height: 260px;
  }
}

.gp-modal-title {
  width: 90%;

  @media (max-width: 576px) {
    line-height: 25px;
  }
}

.google-drive-container {
  img {
    object-fit: contain !important;
  }
}

.modal-content-sub-wrapper {
  max-width: 1440px;
  width: 100%;
}

.modal-content-sub-wrapper-gp-web-app {
  max-width: 1440px;
  width: 100%;
}

.modal-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.modal-content-wrapper-gp-web-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.selected-gp-web-app-content {
  height: 99vh;
  width: 90vw;
  overflow: hidden;
  max-height: 850px;

  @media (max-width: 992px) {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
    overflow-y: scroll;
  }
}

.txt-underline-on-hover-white:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.sponsor-img-container {
  width: 175px;
  height: 175px;

  @media (max-width: 577px) {
    width: 175px;
    height: 175px;
  }
}

.sponsor-card {
  position: relative;
  border: 1px solid lightgray;
  width: 100%;
  object-fit: contain;
  max-height: 470px;
  padding: 0px 5rem 0px 5rem;

  a {
    @media (max-width: 992px) {
      height: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 576px) {
      width: 83%;
    }
  }

  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sponsor-img {
  @media (min-width: 1400px) {
    max-width: 205px;
    max-height: 205px;
  }
}

.features-right-arrow-btn {
  @media (max-width: 576px) {
    transform: translateX(-20%);

    svg {
      width: clamp(43px, 10vw, 50px);
      height: clamp(43px, 10vw, 50px);
    }
  }
}

.features-left-arrow-btn {
  @media (max-width: 576px) {
    transform: translateX(20%);

    svg {
      width: clamp(43px, 10vw, 50px);
      height: clamp(43px, 10vw, 50px);
    }
  }
}

.nav-section-btn {
  width: 100px;
  height: 100px;
  border: solid 0.5px black;

  @media (max-width: 577px) {
    width: 83px;
    height: 83px;
  }
}

.lessons-nav-section-container {
  height: 175px;

  @media (max-width: 767px) {
    height: auto;
  }
}

.txt-underline-on-hover:hover {
  text-decoration: underline;
}

.selected-gp-web-app-dialog {
  max-width: none;
  min-height: 100%;
  max-height: none;
}

.selected-vid-dialog {
  width: 100vw;
  max-width: none;
  min-height: 100%;
  max-height: none;
}

.selected-vid-modal-content {
  min-height: 100vh;
  border-radius: 0;
}

.video-iframe-on-card {
  position: relative;
  border: 1px solid lightgray;
  width: 100%;
  object-fit: contain;
}

.lessonsPartContainer {
  width: 100%;
}

.arrow-down-lesson-part-container {
  @media (max-width: 575px) {
    height: 100%;
  }
}

.lessonSecsNavDotsListContainer {
  top: 95px;
  right: 20px;
  z-index: 1000;

  @media (max-width: 768px) {
    right: 6px;
  }
}

.lesson-file-preview-img {
  height: 100%;
}

.no-padding-on-mobile {
  @media (max-width: 577px) {
    padding: 0;
  }
}

.increase-icon-size::before {
  transform: scale(165%);
}

.increase-size-by-2x {
  transform: scale(175%);
}

.scissor-icon {
  font-size: 23px;
  transform: translateY(8px);
}

.increase-size-by-3x {
  transform: scale(275%);
}

.links-list {
  @extend.no-padding-on-mobile;
}

.materials-list {
  @media (max-width: 577px) {
    padding-left: 13px;
  }
}

.lesson-worksheet {
  width: 90px;
  @extend.lesson-file-preview-img;

  @media (max-width: 768px) {
    height: 140px;
  }
}

.lessonSubject {
  bottom: 8px;
  left: 15px;
  width: fit-content;
}

.lightbar {
  // height: 100px;
  display: block;
}

@media (max-width: 767px) {
  .dotLine {
    border-bottom: 1px dashed #363636;
    // left: 50%;
    top: 50%;
    // left: 101%;
    width: 90%;
    vertical-align: text-top;
  }
}

.company-partner-img-container {
  box-shadow: 0 16px 38px -12px rgba(54, 54, 54, 0.56),
    0 4px 25px 0 rgba(54, 54, 54, 0.12), 0 8px 10px -5px rgba(54, 54, 54, 0.2);
  transition: box-shadow 0.15s ease-in-out;
}

.company-partner-img-container:hover {
  box-shadow: 0 16px 38px -6px rgba(54, 54, 54, 0.56),
    0 4px 28px 0px rgba(54, 54, 54, 0.12), 0 8px 12px -2px rgba(54, 54, 54, 0.2);
}

.partnerCompany {
  @media (min-width: 992px) {
    height: 400px;
  }
}

.human-wave-emoji {
  width: 15% !important;
  height: 100% !important;
  color: rgb(203, 31, 142);
}

.collaborateImg {
  @media (min-width: 576px) {
    transform: translate(65%, -30%);
  }
}

.partnerCompany {
  width: 40%;

  @media (min-width: 768px) and (max-width: 991px) {
    width: 75%;
  }

  @media (max-width: 767px) {
    width: 90%;
  }
}

// teachIt section
.downloadTipIcon {
  // height: 70%;
  width: 75%;
  height: 100%;

  @media (max-width: 767px) {
    width: 90%;
  }
}

$active-dot-teacher-materials-dot: #cb1f8e;
$active-dot-color: rgba(44, 131, 195, 0.6) !important;

.active-dot-teacher-materials {
  background-color: $active-dot-teacher-materials-dot;
}

.active-dot {
  background-color: $active-dot-color;
}

.sectionNavDot {
  background-color: rgba(0, 0, 0, 0.1);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  border: 2px solid;
  border-color: #bebebe;
  padding: 4px;
  opacity: 1;
  transition: all 0.15s ease-in;
  transition-property: background-color, border-color;
}
