@import "../../globalVars.scss";

$borderThickness: 4px;
$borderColor: darkgray;


.lessonsSection{
    border-top: solid $borderThickness $borderColor;
}

.jobVizCareer{
    border: solid $borderThickness $borderColor;
    height: 300px;
    width: 575px !important;
}

.jobVizEntrySection span{
    font-size: 24px;
}

.jobVizLink:hover{
    text-decoration-color: #6c757d;
    text-decoration-thickness: .1px;
}

.jobVizImgContainer{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobVizImg{
    font-size: 12px;
    max-width: 100%;
    max-height: 100%;
}

.jobVizCareer > section:first-child{
    height: 70%;
    > section:first-child{
        width: 43%;
    }

    > section:nth-child(2){
        width: 57%;
        h4{
            font-size: 35px;
            font-weight: 350;
            text-align: center;
        }
        h4:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
