.selectedLessonPg {
  padding: 5rem 14rem;
}

.lessonsStandardsSec {
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-right: calc(-1 * ((100vw - 100%) / 2));
  > div {
    background-color: #e2f0fd;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      padding: .85rem 1.75rem;
      width: 75%;
    }
  }
}

.col-start-2{
  grid-column-start: 2 !important;
}

.col-start-3{
  grid-column-start: 3 !important;
}

.col-start-4{
  grid-column-start: 4 !important;
}

.col-start-5{
  grid-column-start: 5 !important;
}

.col-start-6{
  grid-column-start: 6 !important;
}

.col-start-7{
  grid-column-start: 7 !important;
}

.collapsibleLessonSection {
  > div:first-child {
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    margin-right: calc(-1 * ((100vw - 100%) / 2));
    > div {
      background-color: #e2f0fd;
      display: flex;
      align-items: center;
      justify-content: center;
      > div {
        width: 75%;
      }
    }
  }
}

.vocabTxt{
  li::marker{
    color: #CD2A93;
  }
}

.downloadTipIcon{
  cursor: pointer;
}

.downloadInfoModal{
  max-width: 800px !important;
}

.downloadInfoModal-txt{
  line-height: 1.2;
}
