.selectedLessonPg {
  padding: 5rem 14rem;
}

.lessonsStandardsSec {
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-right: calc(-1 * ((100vw - 100%) / 2));
}

.collapsibleLessonSection {
  > div:first-child {
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    margin-right: calc(-1 * ((100vw - 100%) / 2));
  }
}
