$btnColor: #84469e;
$btnColorDark: #3e0d55;
$mobileTxtColor: #96195f;
$btnColorMobile: #633a9a;
$borderRadiusModal: 1.3em;
$borderColorImgAndCard: #707070;
$hireUsPgMainCardColor: #fff8f8;
$sectionDarkBg: #2e0b1b;
$desktopFontSize: 22px !important;
$carouselTitleFtWeightDesktop: 800 !important;
$spanFontSize: 16px !important;
$spanFontSizeSmall: 14px !important;
$bntFontSize: 20px !important;
$h3CustomFontSize: 2rem !important;
$h1DesktopFontSize: 3.5rem !important;
$subHeaderDesktop: 1.75rem !important;
$h3DesktopFontSize: 2.7rem !important;
$spanDesktopFontSize: 22px !important;
$carouselHeader: 2.2rem !important;
$lineHeight: 24px !important;


