$btnColor: #84469e;
$btnColorDark: #3e0d55;
$mobileTxtColor: #96195f;
$btnColorMobile: #633a9a;
$borderRadiusModal: 1.3em;
$borderColorImgAndCard: #707070;
$hireUsPgMainCardColor: #fff8f8;
$sectionDarkBg: #2e0b1b;
$desktopFontSize: 22px !important;
$carouselTitleFtWeightDesktop: 800 !important;
$spanFontSize: 16px !important;
$spanFontSizeSmall: 14px !important;
$bntFontSize: 20px !important;

