$btnColor: #c792ea;

.hireUsPg{
    max-width: 100% !important;
}



.heroHireUsPg{
    // border: solid pink;
}



.headingHireUs{
    font-size: 65px;
    font-weight: 450 !important;
}

.buttonContainer{
    background-color: $btnColor !important;
}






