.RichText {
  img, iframe {
    max-width: 100%;
    display: block;
    margin: auto;  
  }
  img {
    border: 1px solid #dee2e6;
  }

  h3 {
    font-size: 1.5rem;
  }
  // don't create a hard margin for lone items
  p:only-child {
    margin-bottom: 0;
  }
}

.Bonus_Content img {
  margin: 10px 0px 10px 0px;

  @media (max-width: 576px) {
    max-width: 100% !important;
  }
}