name: Check for dead links

on: 
  push: 
    branches-ignore:
      - dependabot/**

jobs:
  dead-links-check:
    permissions:
      contents: read
    environment: Preview
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
    
    - name: Install dependencies
      run: npm install --legacy-peer-deps
      
    - name: Install linkinator
      run: npm install linkinator --legacy-peer-deps

    - name: Install exceljs
      run: npm install exceljs --legacy-peer-deps

    - name: Install waiton
      run: npm install wait-on --legacy-peer-deps

    - name: Create the .env file
      run: |
        touch .env
        echo MONGODB_USER=${{ vars.MONGODB_USER }} >> .env
        echo MONGODB_PASSWORD=${{ secrets.MONGODB_PASSWORD }} >> .env
        echo MONGODB_DB_NAME=${{ vars.MONGODB_DB_NAME }} >> .env
        echo MONGODB_DB_PROD=${{ vars.MONGODB_DB_PROD }} >> .env
        echo MONGODB_PROJECT_ID=${{ vars.MONGODB_PROJECT_ID }} >> .env
        echo MONGODB_PROJECT_PRIVATE_KEY=${{ secrets.MONGODB_PROJECT_PRIVATE_KEY }}  >> .env
        echo MONGODB_PROJECT_PUBLIC_KEY=${{ vars.MONGODB_PROJECT_PUBLIC_KEY }}  >> .env
        echo AUTH_CLIENT_ID=${{ vars.AUTH_CLIENT_ID }} >> .env
        echo AUTH_CLIENT_SECRET=${{ secrets.AUTH_CLIENT_SECRET }} >> .env
        echo NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }} >> .env
        echo EMAIL_SENDER_SERVICE_ACCOUNT_CLIENT_ID=${{ vars.EMAIL_SENDER_SERVICE_ACCOUNT_CLIENT_ID }} >> .env
        echo EMAIL_SENDER_SERVICE_ACCOUNT_PRIVATE_KEY=${{ secrets.EMAIL_SENDER_SERVICE_ACCOUNT_PRIVATE_KEY }} >> .env
        echo BREVO_API_KEY=${{ secrets.BREVO_API_KEY }} >> .env
        echo DEADLINKS_CHECK_EMAIL_PASSWORD=${{ secrets.DEADLINKS_CHECK_EMAIL_PASSWORD }} >> .env
        
    - name: Build and serve the app
      run: npm run prod &

    - name: Wait for the app to start
      run: npx wait-on -t 240000 http://localhost:3000

    - name: Run dead links checks
      run: node --env-file=.env .github/checkDeadLinks.js
